+global-reset

body
	+establish-baseline
	+body-font
	background-color: #fff
	color: #222

a
	color: #222
	text-decoration: none
	+default-transition
	&:hover	
		color: $blue

.button-primary
	+btn
.button-secondary
	+btn-sec


.header-wrapper
	width: 1200px 
	margin: 0 auto


header.header
	display: block
	width: 100%
	+box-shadow(0 1px 3px rgba(#000, 0.35))
	padding: 0.5em 0
	padding-bottom: 0

.header-fixed
	position: fixed
	top: 0
	background-color: rgba(#fff, 0.95)
	z-index: 100000

.header-links
	float: right
	margin-top: -.5em
	ul
		list-style: none
		display: inline-block
		vertical-align: middle	
		margin-right: 1em
		li
			display: inline-block
		> li a
			padding: 1em
			display: inline-block
			color: $grey
			text-decoration: none
			+default-transition
			&:hover
				color: $blue
		li.with-dd
			position: relative
			+default-transition
			&:hover
				background: $blue
				.dropdown
					top: 3.25em
					+opacity(1)
					height: auto
					+transform(scale(1))
				&> a
					color: #fff
			.dropdown
				position:	absolute
				background: rgba($grey, 0.95)
				border: 1px solid rgba(#000, 0.1)
				right: 0
				min-width: 150px
				+box-shadow(0 1px 3px rgba(#000, 0.5))
				+border-radius(0 0 3px 3px)
				border-top: 0
				z-index: 10000
				top: -20em
				+opacity(0)
				+default-transition
				height: 0
				+transform(scale(0.01))
				ul	
					display: block
					padding: 0
					margin-right: 0
				li
					display: block
					a
						padding: 0.5em
						display: block
						border-bottom: 1px solid rgba(#000, 0.1)
						color: #fff
					&:last-of-type
						a
							border-bottom: 0
					&:hover
						a
							background: $blue
							color: #fff
	.button-primary
		vertical-align: middle
		display: inline-block

#header-search
	display: inline-block
	width: 30%
	vertical-align: top
	position: relative
	input
		width: 100%
		padding: 0.5em 0.5em
		+border-radius(3px)
		border: 1px solid #ddd
		font-size: 16px
	.dropdown
		+transform(rotate(-5deg))
		+opacity(0)
		+default-transition
		min-width: 250px
		position: absolute
		background: rgba(#fff, 0.99)
		width: 250%
		left: -25%
		+box-shadow(0 1px 3px rgba(#000, 0.75))
		+border-radius(0 0 3px 3px)
		+transform(scale(0))
		&.visible
			+opacity(1)
			+transform(scale(1))
			+transform(rotate(0))
	.recent-searches
		// background-color: desaturate(lighten(#aaf, 15), 35)
	.shop-searches
		// background-color: desaturate(lighten(#aaf, 15), 25)
	.expert-searches
		// background-color: desaturate(lighten(#aaf, 15), 15)
	.expert-cat-searches
		// background-color: desaturate(lighten(#aaf, 15), 5)
	.recent-searches, .shop-searches, .expert-searches, .expert-cat-searches
		border-bottom: 1px solid rgba(#000, 0.1)
		.icon
			color: #aaa
			vertical-align: middle
			margin-right: 5px
		li
			a
				display: block
				padding: 0.75em
				color: #222
				.avatar
					display: inline-block
					vertical-align: middle
					img
						height: 1.5em
						+border-radius(200%)
				&:hover
					background: $blue
					+text-shadow(0 1px 1px rgba(#000, 0.5))
					color: #fff
					.matched, .indicator, .icon
						color: #fff
						+text-shadow(0 1px 1px rgba(#000, 0.5))
		.matched
			color: $blue
			display: inline-block
			vertical-align: middle
		.icon
			display: inline-block
			vertical-align: middle
		.indicator
			display: inline-block
			vertical-align: middle
			color: #aaa
			font-size: 12px
			padding: 0 0.25em
			min-width: 60px
			text-align: right
			margin-right: 10px
		b
			font-weight: bold

#location-selector
	display: inline-block
	vertical-align: top
	position: relative
	margin-top: -0.25em
	margin-right: 10px
	margin-left: 10px
	&:hover
		.current
			background: $blue
			color: #fff
		.dropdown
			+transform(scale(1))
			+opacity(1)
			top: 2.8em
	.current
		font-size: 20px
		padding: 0.5em
		cursor: pointer
	.dropdown
		+default-transition
		+opacity(0)
		+transform(scale(0))
		position: absolute
		background: rgba($grey, 0.95)
		top: -13.5em
		min-width: 200px
		+border-radius(0 0 3px 3px)
		+box-shadow(0 2px 3px rgba(#000, 0.5))
		a
			border-bottom: 1px rgba(#000, 0.75)
			padding: 0.5em 
			display: block
			color: #fff
			&:hover
				color: #fff
				background: $blue




.container
	margin: 0 auto
	+container(90%)
	max-width: 1200px

h1
	+adjust-font-size-to(30px)
	+margin-trailer

h2
	+adjust-font-size-to(24px)
	+margin-trailer(0.5)
h3
	+adjust-font-size-to(20px)
	+margin-trailer(0.5)
h4
	+margin-leader(0.5)
h5
h6

i
	font-style: italic


.row
	+clearfix
	&.three-col
		.left-sidebar, .right-sidebar, .content-area
			display: inline-block
			vertical-align: top
			margin-right: 30px
		.left-sidebar, .right-sidebar
			width: 15%
		.content-area	
			width: 60%
		.right-sidebar
			margin-right: 0
	&.two-col-inv
		.left-col
			width: 20%
			float: left
			padding: 1em
		.right-col
			padding: 1em
			width: 72%
			float: left
	&.two-col
	.left-col
		width: 70%
		float: left
	.right-col
		width: 29%
		float: right
	b
		font-weight: bold
		margin-right: 10px
	p
		+margin-leader
		+margin-trailer
		+adjust-font-size-to(16px)


.more-button
	border: 1px solid #ccc
	+border-radius(5px)
	padding: 0.5em 3em
	+adjust-font-size-to(20px)
	color: #ccc
	width: 30%
	margin: 2em auto
	display: block		
	+clearfix
	clear: both
	text-align: center





.tabs
	+clearfix
	.tab-links
		+clearfix
		border-bottom: 1px solid #eee
		a.tab
			color: #222
			padding: 1em 
			display: inline-block
			min-width: 150px
			text-align: center
			+adjust-font-size-to(20px)
			border-bottom: 5px solid transparent
			&.active
				color: $blue
				border-bottom-color: $blue
			&:hover
				color: $blue
	.tab-contents
		+margin-leader
		.tab-content
			display: none
			&.active
				display: block

.number
	+number

.crossable
	+default-transition
	padding: 0.5em
	cursor: pointer
	&:after
		content: "x"
		display: inline-block
		vertical-align: middle
		margin-left: 0.25em
		color: #aaa
		+default-transition
	&:hover
		text-decoration: line-through
		color: $red
		&:after
			color: $red
