// Mixins

@mixin heading-font
	font-family: 'Poiret One', cursive

@mixin body-font
	font-family: 'Alegreya Sans', sans-serif

@mixin default-transition
	+transition(all 0.2s ease-in-out)

@mixin btn
	padding: 0.5em 1em
	border: 1px solid rgba(#000, 0.1)
	+box-shadow(0 0 3px rgba(#000, 0.4))
	+border-radius(3px) 
	color: #fafafa
	background-color: $blue
	+default-transition
	+text-shadow(0 1px 2px rgba(#000, 0.5))
	&:hover
		background-color: darken($blue, 10)
		color: #fafafa
	&:active
		+box-shadow(inset 0 0 3px rgba(#000, 0.25))
@mixin btn-sec
	padding: 0.5em 1em
	border: 1px solid rgba(#000, 0.1)
	+box-shadow(0 0 3px rgba(#000, 0.4))
	+border-radius(3px) 
	color: #fafafa
	background-color: $grey
	+default-transition
	&:hover
		background-color: darken($grey, 10)
		color: #fafafa
	&:active
		+box-shadow(inset 0 0 3px rgba(#000, 0.25))


@mixin number
	font-family: Merriweather, serif	