.feed-wrapper
	width: 700px 
	display: inline-block
	padding: 0.5em
	+padding-leader
	+margin-leader(4)
	h2
		+adjust-font-size-to(24px)
		+margin-leader(2)
		+margin-trailer
		border-bottom: 1px solid rgba(#000, 0.1)

.left-sidebar, .right-sidebar
	width: 200px
	display: inline-block
	vertical-align: top
	+margin-leader(6)
.feed-item
	display: inline-block
	+border-radius(5px)
	background: #fff
	vertical-align: top
	margin-bottom: 1em
	border: 1px solid rgba(#000, 0.05)
	+box-shadow(0 1px 3px rgba(#000, 0.15))
	&.feed-item-single
		width: 31%
		margin: 0 1%
		margin-bottom: 2em
	&.feed-item-double
		width: 60%
		margin: 0 1%
		margin-bottom: 2em
	&.feed-item-triple
		width: 100%
		margin: 0
		margin-bottom: 2em
	&.alpha
		margin-left: 0
	&.omega
		margin-right: 0
	.featured-image, .article-summary
		display: block
		text-align: center
		position: relative
		width: 100%
		a
			position: relative
		a img
			width: 100%		
			max-height: 350px
			&.small	
				max-height: 260px
				width: 49%
				display: inline-block
			&.prod-tn
				height: 200px
				display: inline-block
				width: auto
		a .label	
			position: absolute
			padding: 0.5em
			color: #fafafa
			background: rgba($grey, 0.95)
			right: 0
			bottom: .25em
			z-index: 1
			+default-transition
		a:hover .label
			background: rgba($blue, 0.95)
	.article-summary
		a img, a .excerpt
			width: 47%
			vertical-align: top
			text-align: left
			display: inline-block	
			padding-right: 0.5em
			padding-left: 0.5em
		a:hover
			color: #222
		.excerpt
			+adjust-font-size-to(20px)
	.more-square
		background-color: $grey
		color: $light-grey
		font-weight: 800
		padding: 5.5em
		display: inline-block
		vertical-align: middle
		margin-top: -12em
		&:hover
			background-color: $mustard
			color: $grey
	.category-tag
		top: -.75em
		z-index: 10
		padding: 0.25em 1em
		margin: 0 auto
		left: auto
		right: auto	
		position: absolute
		text-align: left
	.summary
		display: inline-block
		padding-bottom: 0
		border-top: 1px solid rgba(#000, 0.1)
		margin-top: 1em	
		width: 100%
		background-color: #fafafa
	.heading
		font-weight: bold
		+padding-leader(0.25)
		padding-left: 0.5em
		+margin-trailer(0.25)
		+adjust-font-size-to(24px)
	.user-info
		display: inline-block
		padding: 1em
		vertical-align: top
		.avatar
			display: inline-block
		.avatar img
			width: 32px
			height: 32px
			+border-radius(200%)
		.details
			display: inline-block
			vertical-align: TOP
			margin-left: 5px
			white-space: nowrap
			overflow: hidden
			text-overflow: ellipsis
		.source
			display: inline-block
			font-weight: bold
		.target
			display: inline-block
			text-decoration: underline
		.time	
			display: block
			+adjust-font-size-to(13px)
			color: #777777
	.actions	
		padding: 0.5em
		text-align: right
		+border-radius( 0 0 3px 3px)
		float: right
		padding-right: 1em
		a
			padding: 0.5em
			display: inline-block
		.icon-heart-empty:before, .icon-share-square-1:before, .icon-heart:before
			display: inline-block
			vertical-align: middle
			margin-right: 5px
		.share-button
			&:hover	
				color: $dark-green
		.like-button
			&:hover	
				color: $red
		.like-button.icon-heart
			color: $red

.category-tag-mint
	background: rgba($mint, 1)
	color: #fafafa
.category-tag-mustard
	background: rgba($mustard, 1)
	color: #fafafa
.category-tag-wine
	background: rgba($wine, 1)
	color: #fafafa
.category-tag-wine
	background: rgba($wine, 1)
	color: #fafafa
.category-tag-orange
	background: rgba($orange, 1)
	color: #fafafa
.category-tag-blue
	background: rgba($blue, 1)
	color: #fafafa
.category-tag-purple
	background: rgba($purple, 1)
	color: #fafafa


.right-sidebar
	margin-left: 2em
	h2
		+adjust-font-size-to(20px)
		+margin-trailer
	input	
		border: 1px solid rgba(#000, 0.25)
		padding: 0.5em
		margin-bottom: 1em
	.button-secondary
		display: inline-block
		margin-top: 0.5em


.shop-sections
	+margin-leader(2)
	a 
		display: block
		position: relative
		&> img
			width: 200px
			+opacity(0.4)
			+default-transition
		.overlay
			position: absolute
			left: 0
			top: 40%
			width: 100%
			display: inline-block
			vertical-align: middle
			color: #222
			font-weight: 700
			text-align: center
			+adjust-font-size-to(20px)
			+default-transition
			&:before	
				display: inline-block
				height: 100%

		&:hover
			&> img
				+opacity(1)
			.overlay
				background: rgba(#000, 0.5)
				color: #fff