/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset"
@import compass/css3
@import compass/typography
@import breakpoint
@import "susy"
@import "grids"
@import "colors"
@import "mixins"
@import "base"
@import "jquery.fancybox"

.shop-categories
	+span(6 of 12)
	&> a
		display: inline-block
		position: relative
		margin-right: -2px
		width: 45%
		min-width: 200px
		max-width: 290px
		+default-transition
		.overlay	
			width: 100%
			height: 100%
			position: absolute
			top: -1px
			left: 0
			+default-transition
			.overlay-content
				display: inline-block
				vertical-align: middle
				width: 100%
				height: 100%
				text-align: center
				+default-transition				
				+adjust-font-size-to(24px)
				color: #fff
				+text-shadow(0 1px 1px rgba(#000, 0.5))
				font-weight: 700
				+heading-font
				&:before
					content: ""
					height: 100%
					display: inline-block
					vertical-align: middle
		img
			max-width: 290px
			width: 100%
			+default-transition
		&:hover
			img
				+opacity(0.5)
	#furniture-link, #kitchen-link, #home-decor-link, #lamps-link
		&:hover
			.overlay
				background-color: rgba(#000, 0)
				.overlay-content
					color: #000
					+text-shadow(0 -1px 1px rgba(#fff, 1))
					letter-spacing: 2px
	#furniture-link
		.overlay
			background-color: rgba($red1, 0.8)
	#kitchen-link
		.overlay
			background-color: rgba($yellow1, 0.8)
	#lamps-link
		.overlay
			background-color: rgba($green1, 0.8)
	#home-decor-link
		.overlay
			background-color: rgba($blue1, 0.8)


.experts-search
	+span(5.8 of 12)
	background-repeat: no-repeat
	background-size: cover
	form	
		+padding-trailer
		margin-left: 2em
		.field
			+padding-leader
			label
				display: block
				width: 100%
				margin-left: 1em
				font-weight: bold
				+adjust-font-size-to(14px)
			select
				background: #fff
				+border-radius(3px)
				padding: 0.25em 0.5em
				min-width: 120px
				width: 60%
				color: #888
				+adjust-font-size-to(24px)
				border: 1px solid rgba(#000, 0.1)
				&:hover
					border: 1px solid $blue
	.button-secondary
		line-height: 7em


.left-sidebar
	+span(18%)
	+margin-leader(3)
	h4
		+adjust-font-size-to(12px)
		font-weight: 800
		+margin-leader
	li > a
		display: block
		+adjust-font-size-to(16px)
		padding: 0.25em
		margin-left: -0.25em
		&:before	
			margin-right: 5px
			display: inline-block
			vertical-align: middle
			color: #aaa
.feed-wrapper
	+margin-leader(2)
	+span(75%)



.expert-cover
	+margin-trailer(2)
	+background-image(linear-gradient(rgba(#000, 0), rgba(#000, 0.8)))
	.container
		position: relative
	.cover-image
		background-size: cover
		background-repeat: no-repeat
		width: 100%
		height: 12em
		margin-top: 3.25em
		+box-shadow(inset 0 -20px 60px rgba(#000, 0.85))
	.user-info
		position: absolute
		bottom: -1.5em
		left: 1em
	.avatar
		border: 5px solid #fff
		margin-right: 10px
	.avatar, .details
		display: inline-block
		vertical-align: top
	.details
		color: #fff
		+text-shadow(0 1px 2px rgba(#000, 0.75))
		h3
			+adjust-font-size-to(30px)			
			margin-bottom: auto
			font-weight: bold
	.hire-button
		+btn
		position: absolute
		right: 0
		bottom: 1em
		+adjust-font-size-to(20px)
		padding-left: 2em
		padding-right: 2em
		font-weight: bold

.sidebar-links
	+margin-leader
	+margin-trailer
	li
		display: block
		a
			display: block
			padding: 0.25em 0.5em
			+padding-leader(0.25)
			+padding-trailer(0.25)
			&:hover
				color: $blue
				&:before	
					color: $blue
		&.active
			a
				color: $blue


.projects-wrapper
	+clearfix
	.project
		width: 48%
		margin: 0.5%
		float: left
		position: relative
		img
			width: 100%
		.overlay
			width: 100%
			padding-top: 1em
			padding-bottom: 0.5em
			z-index: 10
			position: absolute
			left: 0
			bottom: -1em
			+default-transition
			h3
				padding-left: 1em
				color: #fff
				+text-shadow(0 1px 2px rgba(#000, 0.75))
				+adjust-font-size-to(30px)
				font-weight: bold

.price
	+number
	+adjust-font-size-to(24px)
	color: $blue
	.WebRupee
	.amount
		+number
.fancy-heading
	text-align: center
	font-weight: bold
	+padding-leader(0.5)
	+padding-trailer(0.5)
	color: #222
	+adjust-font-size-to(36px)

.products-list
	+clearfix
	h1
		+adjust-font-size-to(30px)
		+margin-trailer(0.5)
	h2
		+adjust-font-size-to(24px)
		+margin-trailer
	.fancy-heading.lamp
		text-align: center
		font-weight: bold
		+padding-leader(1)
		+padding-trailer(1)
		+background-image(linear-gradient(rgba(#000, 0), rgba(#000, .25)), url('../images/lamps/6.jpg'))
		background-size: cover
		background-repeat: no-repeat
		color: #fff
		+text-shadow(0 1px 2px rba(#000, 1))
		background-position: center
		+adjust-font-size-to(36px)
	.actions
		display: inline-block
		width: 100%
		text-align: center
	.product-box
		float: left
		width: 23.5%
		margin: 3px
		min-width: 150px
		+margin-trailer
		height: 290px
		img
			width: 100%
		.details
			h4
				+adjust-font-size-to(16px)
		&:hover .price 
			color: $blue
			.amount
				color: $blue
	.price
		font-size: 18px
		+number
		color: $grey
		+default-transition
		.amount
			+default-transition

.filter-box
	+margin-trailer
	& ul
		&.secondary
			margin: 0.5em
			.active
				font-weight: bold
		& li
			display: block
			&> a
				display: block
				+adjust-font-size-to(16px)
				&.active
					color: $blue
				&:hover
					.number
						+opacity(1)
						color: $blue
						border-color: $blue
				.number
					+number
					float: right
					line-height: 2em
					min-width: 20px
					min-height: 20px
					&:before
						content: "("
					&:after
						content: ")"
					text-align: center
					font-size: 10px
					color: #222
					+default-transition
					display: table-cell
					vertical-align: middle
.breadcrumbs
	color: #888
	a, span
		+adjust-font-size-to(12px)
	span
		color: #222
	a:hover
		color: $blue

.prod-details
	.left-col, .right-col
		width: 48%
	.image-gallery
		+margin-leader(1)
		width: 100%
		.thumbnails
			text-align: center
			img
				height: 3em
				border: 2px solid transparent
				+default-transition
				cursor: pointer
				margin-right: 5px
				&:hover
					border-color: $blue
		.big-image
			width: 100%
	.right-col
		padding-left: 20px
		h1
			margin: 0
			+adjust-font-size-to(30px)
			font-weight: bold
	.truncated-details
		+padding-trailer
	.prod-availability
		+padding-trailer
		label
			+adjust-font-size-to(12px)
			display: block
		input
			border: 1px solid #eee
			+default-transition
			padding: 0.5em
			margin-right: 10px
			&:hover
				border-color: $blue
	.prod-quickie
		+margin-leader
		+padding-trailer
		.price
			+number
			display: inline-block
			vertical-align: middle
			width: 40%
			border-right: 1px solid #ddd
			margin-right: 10px
			font-size: 30px
			text-align: center
		.del
			display: inline-block
			vertical-align: middle
		.small
			color: #222
			font-size: 0.5em
			margin-top: -2em
	.prod-actions
		+margin-leader
		+padding-trailer
		.button-primary, .button-secondary
			padding: 0.75em 0
			width: 40%
			text-align: center
			margin-right: 10px
			display: inline-block
			font-size: 20px
	.prod-social
		border-bottom: 1px solid #eee
		+padding-trailer(0.5)
		a
			padding: 0.5em
			color: #777
			&:first-child
				margin-left: -0.5em
			&:before
				+adjust-font-size-to(20px)
				vertical-align: middle
				margin-right: 3px
			&:hover
				color: $blue
	.prod-seller
		+margin-leader
		.avatar
			display: inline-block
			margin-right: 10px
			vertical-align: middle
			width: 32px

.prod-tabs
	+margin-leader(2)
	width: 80%
	display: inline-block


.sorts
	+margin-trailer(2)
	+padding-trailer(0.5)
	+adjust-font-size-to(16px)
	border-bottom: 1px solid rgba(#000, 0.1)	
	a
		display: inline-block
		vertical-align: baseline
		padding: 0.5em
		+adjust-font-size-to(20px)
		&:hover
			color: $blue
		&.active
			color: $blue
			font-weight: bold



//////// Feed Styles

.feed-item
	width: 100%
	border: 1px solid rgba(#000, 0.05)
	+border-radius(3px)
	+box-shadow(0 1px 2px rgba(#000, 0.5), inset 0 0 3px 2px rgba(#fff, 1))
	+margin-trailer
	h3
		+adjust-font-size-to(24px)
		font-weight: bold
		margin-bottom: 0
		padding-left: 0.5em
		a
			display: block
	.featured-image
		display: block
		width: 100%
		position: relative
		a
			display: block
			&.image-gall
				display: inline-block
				width: 49.5%
		img
			width: 100%
			+border-radius(3px 3px 0 0 )
		h3
			position: absolute
			color: #fff
			+text-shadow(0 1px 3px #000)
			a
				color: #fff
	.summary
		border-top: 1px solid rgba(#000, 0.05)
		+clearfix
		// background-color: rgba(#000, 0.05)
		.user-info
			+padding-leader(0.25)
			+padding-trailer(0.25)
			padding-left: 0.5em
			display: inline-block
			vertical-align: middle
			+adjust-font-size-to(14px)
			width: 65%
			.details
				display: inline-block
				vertical-align: middle
			.avatar
				display: inline-block
				vertical-align: middle
				margin-right: 0.5em
				img
					height: 2em
					+border-radius(200%)
		.related-products
			border-top: 1px solid rgba(#000, 0.05)
			h5
				+adjust-font-size-to(13px)
				+margin-leader(0.25)
				+margin-trailer(0.25)
				color: #aaa
				padding-left: 0.6em
			&> ol
				margin-left: 0.5em
				li.prod
					display: inline-block
					width: 14%
					min-width: 100px
					margin-right: 1%
					vertical-align: top
					img
						width: 100%
					&:hover
						.prod-price
							color: $blue
				.prod-title
					text-align: left
					+adjust-font-size-to(14px)
				.prod-price
					+adjust-font-size-to(14px)
					text-align: left
					color: #222
					font-weight: bold
					+default-transition
		.actions
			display: inline-block
			width: 32%
			text-align: right
		.source
			font-weight: bold
	.like-button, .share-button, .comment-button
		&:before
			vertical-align: middle
			display: inline-block
			margin: 0 5px
			margin-left: 10px
	&.feed-item-article
		.article-summary
			+clearfix
			+margin-leader
			+margin-trailer
			.excerpt, img
				display: inline-block
				vertical-align: top
			.excerpt	
				padding: 0 10px
				width: 45%
				+adjust-font-size-to(16px)
			a:hover
				color: #222
			img
				width: 50%



.right-sidebar
	+margin-leader(4)
	h2
		+adjust-font-size-to(20px)
	.expert-search
		+margin-trailer(2)
		input	
			padding: 0.25em
			margin: 0.5em 0
			+adjust-font-size-to(16px)				
			+border-radius(3px)
			border: 1px solid #aaa
			+default-transition
			&:hover	
				border-color: $blue
		.button-secondary
			display: inline-block	
			+margin-leader()
	.shop-sections
		a
			display: block
			position: relative
			img
				width: 100%
				max-height: 100px
			&:hover
				.overlay
					background-color: rgba($blue, 0.5)
		.overlay
			left: 0
			+default-transition
			top: 0
			z-index: 10
			position: absolute
			width: 100%
			height: 100%
			text-align: center
			background: rgba(#000, 0.5)
			color: #fff
			+text-shadow(0 1px 3px rgba(0, 0, 0, 0.1))
			+adjust-font-size-to(20px)
			font-weight: bold
			&:before	
				display: inline-block
				vertical-align: middle
				height: 100%
				content: ""



.favorites-container
	+margin-leader(2)
	.fav
		width: 23%
		margin: 0.5%
		display: inline-block	
		margin-bottom: 1em
		vertical-align: top
		border: 1px solid rgba(#000, 0.05)
		+border-radius(3px)
		+box-shadow(0 1px 3px rgba(#000, 0.25))
		img
			width: 100%
			+border-radius(3px 3px 0 0)
		.title
			font-weight: bold
			padding: 0 0.5em
			+adjust-font-size-to(16px)
		.price
			padding: 0 0.5em
			+adjust-font-size-to(16px)
		.excerpt
			+margin-leader(0.5)
			padding: 0 0.5em
			+adjust-font-size-to(14px)