@import compass

.row
	+clearfix
	&.two-col
	.left-col
		width: 70%
		float: left
	.right-col
		width: 29%
		float: right
	b
		font-weight: bold
		margin-right: 10px
	p
		+margin-leader
		+margin-trailer

	.big-table1
		width: 100%
		+margin-leader
		+margin-trailer
		.border-bot
			border-bottom: 1px solid rgba(#000, 0.25)
		td
			+adjust-font-size-to(20px)
		.odd
			width: 50%
		.even
			width: 40%
			text-align: right