@import compass

.row
	+clearfix
.left-sidebar
	float: left
	width: 25%
.content-wrapper
	float: left
	width: 72%
	h1
		+adjust-font-size-to(30px)
	h2
		+adjust-font-size-to(24px)
	h3
		+adjust-font-size-to(20px)
		font-weight: bold
	p
		+adjust-font-size-to(16px)
		+margin-leader
		+margin-trailer
	ul, ol
		+margin-leader
		+margin-trailer
		list-style-type: circle
		display: block
		li
			display: block
			+adjust-font-size-to(16px)
			+margin-trailer(0.25)
			+margin-leader(0.25)
			&:before
				content: " - "
	ol
		li
			&:before
				content: ""
	table
		+margin-leader
		+margin-trailer
		td
			border: 1px solid rgba(#000, 0.1)
			padding: 1em
			+padding-leader(0.5)
			+padding-trailer(0.5)