.feed-item.feed-item-photo
	%h3
		%a{href: "#"}= ["Modern Kitchen", "Contemporary Living Room", "Eclectic Kids' Room", "Modern Office", "Contemporary Office"].sample
	.featured-image
		- (rand(4)+2).times do
			- image_file = "../../images/misc/1920x1080/#{(rand(24)+1)}.jpg"
			%a.image-gall{href: image_file}
				%img{src: image_file}
	.summary
		.user-info
			.avatar
				%a{href: "#"}
					%img{src: "../../images/avatars/96x96/#{(rand(12)+1)}.png"}
			.details
				%span.source
					%a{href: "#"}= ["New Media Designs", "Blue Decor", "Silver Valley Architects", "Era Tangar", "Shuyab Alam"].sample
				shared this
				%span.target
					%a{href: "#"} photo
		.actions
			%a.comment-button.icon-chat-bubble{href:"#"}= rand(1000)
			%a.like-button.icon-heart-empty{href:"#"}= rand(1000)
			%a.share-button.icon-share-square-1{href:"#"} 1.29k 	
		.related-products
			%h5 RELATED PRODUCTS
			%ol
				- (rand(4)+2).times do
					%li.prod
						%a{href: "#"}
							%img{src: "../../images/lamps/#{rand(20)}.jpg"}
							.prod-title= ["Hand painted Black and Red Wooden Lamp", "Antique Black Tribal Art Lamp", "Terracotta Gold Lamp With Red Shade", "Bubble Candle Stand", "Moroccan Cutwork Candle Holder With Gold Luster", "Antique Golden Ribbed Candle"].sample
							.prod-price.price
								%span.WebRupee &#x20B9;
								%span.amount= rand(20)*rand(20)*rand(20)