<div class='feed-item feed-item-triple omega alpha'>
  <h3 class='heading'>
    <a href='#'>Decor & Styling: Runway To Entryway</a>
  </h3>
  <div class='featured-image'>
    <a href='../shop/product-details.html'>
      <img class='prod-tn' src='../../images/lamps/7.jpg'>
      <div class='label'>
        Rs.
        454
      </div>
    </a>
    <a href='../shop/product-details.html'>
      <img class='prod-tn' src='../../images/lamps/26.jpg'>
      <div class='label'>
        Rs.
        6374
      </div>
    </a>
    <a href='../shop/product-details.html'>
      <img class='prod-tn' src='../../images/lamps/20.jpg'>
      <div class='label'>
        Rs.
        7363
      </div>
    </a>
    <a class='more-square' href='#'>+4 more</a>
  </div>
  <div class='summary'>
    <div class='user-info'>
      <div class='avatar'>
        <a href='#'>
          <img src='../../images/avatars/96x96/7.png'>
        </a>
      </div>
      <div class='details'>
        <div class='source'>
          <a href='#'>Era Tangar</a>
        </div>
        added
        <div class='target'>
          <a href='#'>4 products</a>
        </div>
        to the
        <div class='target'>
          <a href='../shop/category-home.html'>lamps & lighting store</a>
        </div>
        <div class='time'>
          7
          hours ago
        </div>
      </div>
    </div>
    <div class='actions'>
      <a class='like-button icon-heart' href='#'>840</a>
      <a class='share-button icon-share-square-1' href='#'>441.2k</a>
    </div>
  </div>
</div>
