<div class='feed-item feed-item-triple omega alpha'>
  <h3 class='heading'>
    <a href='#'>Decor & Styling: Runway To Entryway</a>
  </h3>
  <div class='featured-image'>
    <div class='category-tag category-tag-blue'>Modern</div>
    <a href='../projects/project-details.html'>
      <img class='small' src='../../images/misc/1920x1080/9.jpg'>
    </a>
    <a href='../projects/project-details.html'>
      <img class='small' src='../../images/misc/1920x1080/2.jpg'>
    </a>
    <a href='../projects/project-details.html'>
      <img class='small' src='../../images/misc/1920x1080/13.jpg'>
    </a>
    <a class='more-square' href='#'>+4 more</a>
  </div>
  <div class='summary'>
    <div class='user-info'>
      <div class='avatar'>
        <a href='#'>
          <img src='../../images/avatars/96x96/10.png'>
        </a>
      </div>
      <div class='details'>
        <div class='source'>
          <a href='#'>Blue Decor</a>
        </div>
        shared a
        <div class='target'>
          <a href='#'>project</a>
        </div>
        <div class='time'>
          2
          hours ago
        </div>
      </div>
    </div>
    <div class='actions'>
      <a class='like-button icon-heart-empty' href='#'>98</a>
      <a class='share-button icon-share-square-1' href='#'>181.14k</a>
    </div>
  </div>
</div>
