<div class='feed-item feed-item-photo'>
  <h3>
    <a href='#'>Contemporary Office</a>
  </h3>
  <div class='featured-image'>
    <a class='image-gall' href='../../images/misc/1920x1080/22.jpg'>
      <img src='../../images/misc/1920x1080/22.jpg'>
    </a>
    <a class='image-gall' href='../../images/misc/1920x1080/11.jpg'>
      <img src='../../images/misc/1920x1080/11.jpg'>
    </a>
    <a class='image-gall' href='../../images/misc/1920x1080/12.jpg'>
      <img src='../../images/misc/1920x1080/12.jpg'>
    </a>
    <a class='image-gall' href='../../images/misc/1920x1080/7.jpg'>
      <img src='../../images/misc/1920x1080/7.jpg'>
    </a>
    <a class='image-gall' href='../../images/misc/1920x1080/1.jpg'>
      <img src='../../images/misc/1920x1080/1.jpg'>
    </a>
  </div>
  <div class='summary'>
    <div class='user-info'>
      <div class='avatar'>
        <a href='#'>
          <img src='../../images/avatars/96x96/11.png'>
        </a>
      </div>
      <div class='details'>
        <span class='source'>
          <a href='#'>Blue Decor</a>
        </span>
        shared this
        <span class='target'>
          <a href='#'>photo</a>
        </span>
      </div>
    </div>
    <div class='actions'>
      <a class='comment-button icon-chat-bubble' href='#'>595</a>
      <a class='like-button icon-heart-empty' href='#'>744</a>
      <a class='share-button icon-share-square-1' href='#'>1.29k</a>
    </div>
    <div class='related-products'>
      <h5>RELATED PRODUCTS</h5>
      <ol>
        <li class='prod'>
          <a href='#'>
            <img src='../../images/lamps/15.jpg'>
            <div class='prod-title'>Hand painted Black and Red Wooden Lamp</div>
            <div class='prod-price price'>
              <span class='WebRupee'>&#x20B9;</span>
              <span class='amount'>720</span>
            </div>
          </a>
        </li>
        <li class='prod'>
          <a href='#'>
            <img src='../../images/lamps/19.jpg'>
            <div class='prod-title'>Moroccan Cutwork Candle Holder With Gold Luster</div>
            <div class='prod-price price'>
              <span class='WebRupee'>&#x20B9;</span>
              <span class='amount'>5184</span>
            </div>
          </a>
        </li>
        <li class='prod'>
          <a href='#'>
            <img src='../../images/lamps/19.jpg'>
            <div class='prod-title'>Antique Golden Ribbed Candle</div>
            <div class='prod-price price'>
              <span class='WebRupee'>&#x20B9;</span>
              <span class='amount'>630</span>
            </div>
          </a>
        </li>
      </ol>
    </div>
  </div>
</div>
