.feed-item.feed-item-photo
	.featured-image
		%h3
			%a{href: "#"}= ["Modern Kitchen", "Contemporary Living Room", "Eclectic Kids' Room", "Modern Office", "Contemporary Office"].sample
		- if rand(3) > 1
			- image_file = "../../images/misc/1920x1080/#{(rand(24)+1)}.jpg"
		- else
			- image_file = "../../images/misc/800x600/#{(rand(24)+1)}.jpg"
		%a{href: image_file}
			%img{src: image_file}
	= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/haml/partials/feed-item-summary.haml")).render
