<div class='summary'>
  <div class='user-info'>
    <div class='avatar'>
      <a href='#'>
        <img src='../../images/avatars/96x96/2.png'>
      </a>
    </div>
    <div class='details'>
      <span class='source'>
        <a href='#'>Shuyab Alam</a>
      </span>
      shared this
      <span class='target'>
        <a href='#'>photo</a>
      </span>
    </div>
  </div>
  <div class='actions'>
    <a class='comment-button icon-chat-bubble' href='#'>315</a>
    <a class='like-button icon-heart-empty' href='#'>379</a>
    <a class='share-button icon-share-square-1' href='#'>1.29k</a>
  </div>
  <div class='related-products'>
    <h5>RELATED PRODUCTS</h5>
    <ol>
      <li class='prod'>
        <a href='#'>
          <img src='../../images/lamps/9.jpg'>
          <div class='prod-title'>Antique Black Tribal Art Lamp</div>
          <div class='prod-price price'>
            <span class='WebRupee'>&#x20B9;</span>
            <span class='amount'>4104</span>
          </div>
        </a>
      </li>
      <li class='prod'>
        <a href='#'>
          <img src='../../images/lamps/6.jpg'>
          <div class='prod-title'>Bubble Candle Stand</div>
          <div class='prod-price price'>
            <span class='WebRupee'>&#x20B9;</span>
            <span class='amount'>80</span>
          </div>
        </a>
      </li>
      <li class='prod'>
        <a href='#'>
          <img src='../../images/lamps/6.jpg'>
          <div class='prod-title'>Bubble Candle Stand</div>
          <div class='prod-price price'>
            <span class='WebRupee'>&#x20B9;</span>
            <span class='amount'>896</span>
          </div>
        </a>
      </li>
    </ol>
  </div>
</div>
