
.feed-item.feed-item-article
	%h3.heading
		%a{href: "#"}= ["Go Pandal Hopping this Durga Poja.", "Style Check: Living Rooms", "Shades Of Jade: Bathroom Decor", "9 Ways To Create An Entryway You'd be Happy To Come Home To", "Go for Gold: 7 Ways for a Glittering Home Decor!", "Decor & Styling: Runway To Entryway", "10 Incredible Ways To Doll Up Your Coffee Table"].sample
	.article-summary
		%a{href: "#"}
			.excerpt= Faker::Lorem.paragraphs(2).join("<br/>")
			%img{src: "../../images/misc/1920x1080/#{(rand(20)+1)}.jpg"}
	= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/haml/partials/feed-item-summary.haml")).render
							