- require 'faker'
!!!
%head
	%link{:href => "../../stylesheets/screen.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}/
	%link{:href => "../../stylesheets/jquery.fancybox.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}/
	%link{:href => "../../stylesheets/justifiedGallery.min.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}/
	%link{:href => "https://fontastic.s3.amazonaws.com/pBCDECNWcDQeeoEw3QKY3L/icons.css", :rel => "stylesheet"}/
	/[if IE]
		<link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
	%link{:href => "https://fonts.googleapis.com/css?family=Merriweather|Poiret+One|Alegreya+Sans:400,700,900,400italic", :rel => "stylesheet", :type => "text/css"}
	%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"}
	%script{:src => "../../js/jquery.fancybox.js"}
	%script{:src => "../../js/jquery.justifiedGallery.min.js"}
	%script{:src => "../../js/custom.js"}
	%link{:href => "http://cdn.webrupee.com/font", :rel => "stylesheet", :type => "text/css"}/