%header.header.header-fixed
	.header-wrapper
		.header-container
			%a#logo{href: "../home/home1.html"}
				%img{src: "http://zimply.in/static/images/logo3.png"}
			#location-selector
				.current 
					Delhi NCR
					%span.icon-pin-map
				.dropdown
					%ul
						-	%w(Mumbai Chennai Kolkata Panaji Ahmedabad Kanpur Lucknow Bhutan).each_with_index do |item, i|
							%li
								%a{href: "#"}= item
			#header-search
				%input{type: "search", placeholder: "Search for products, inspiration, experts", value: "Cr"}
				.dropdown
					%ul.recent-searches
						- %w(Craftwrek\ Pvt\ Ltd Crossbow\ International).each_with_index do |item, i|
							%li
								%a{href: "#"}
									%span.icon.icon-clock
									- if i == 0
										%span.indicator.left SEARCH FOR
									- else
										%span.indicator &nbsp;
									%span.matched Cr
									= item.gsub('Cr', '')
					%ul.shop-searches
						- %w(Crome\ Plated\ Brassplate Crockery\ Set Crane).each_with_index do |item, i|
							%li
								%a{href: "#"}
									%span.icon.icon-search-find
									- if i == 0
										%span.indicator.left 
											SHOP 
									- else
										%span.indicator &nbsp;
									%span.matched Cr
									= item.gsub('Cr', '')
									%span.indicator 
										IN 
										%b= %w(LAMPS\ &\ LIGHTING\ STORE FURNITURE\ STORE).sample
					%ul.expert-cat-searches
						- %w(Craft\ Equipment\ Suppliers).each_with_index do |item, i|
							%li
								%a{href: "#"}
									%span.icon.icon-search-find
									- if i == 0
										%span.indicator.left SEARCH FOR
									- else
										%span.indicator &nbsp;
									%span.matched Cr
									= item.gsub('Cr', '')
									%span.indicator 
										IN 
										%b= %w(EXPERTS).sample
					%ul.expert-searches
						- %w(Critical\ Designs Creedence\ Clearwater).each_with_index do |item, i|
							%li
								%a{href: "#"}
									%span.avatar
										%img{src: "../../images/avatars/96x96/#{rand(10)}.png"}
									- if i == 0
										%span.indicator.left EXPERT
									- else
										%span.indicator &nbsp;
									%span.matched Cr
									= item.gsub('Cr', '')
									%span.indicator 
										IN 
										%b= %w(INTERIOR\ DESIGNERS ARCHITECTS OFFICE\ SPACE\ DESIGNERS).sample
			.header-links
				%ul
					- %w(Home Photos Experts Shop).each_with_index do |item, i|
						%li
							%a.header-link{href: "#"}= item
					%li
						%a.header-link.icon-shopping-cart{href: "#"}								
					%li.with-dd
						%a.header-link.icon-user{href: "#"}	
						.dropdown
							%ul
								- %w(Account Orders Settings Profile Addresses Logout).each_with_index do |item, i|
									%li
										%a{href: "#"}= item							
				%a.button-primary{href: "#"} Login