<header class='header header-fixed'>
  <div class='header-wrapper'>
    <div class='header-container'>
      <a href='../home/home1.html' id='logo'>
        <img src='http://zimply.in/static/images/logo3.png'>
      </a>
      <div id='location-selector'>
        <div class='current'>
          Delhi NCR
          <span class='icon-pin-map'></span>
        </div>
        <div class='dropdown'>
          <ul>
            <li>
              <a href='#'>Mumbai</a>
            </li>
            <li>
              <a href='#'>Chennai</a>
            </li>
            <li>
              <a href='#'>Kolkata</a>
            </li>
            <li>
              <a href='#'>Panaji</a>
            </li>
            <li>
              <a href='#'>Ahmedabad</a>
            </li>
            <li>
              <a href='#'>Kanpur</a>
            </li>
            <li>
              <a href='#'>Lucknow</a>
            </li>
            <li>
              <a href='#'>Bhutan</a>
            </li>
          </ul>
        </div>
      </div>
      <div id='header-search'>
        <input placeholder='Search for products, inspiration, experts' type='search' value='Cr'>
        <div class='dropdown'>
          <ul class='recent-searches'>
            <li>
              <a href='#'>
                <span class='icon icon-clock'></span>
                <span class='indicator left'>SEARCH FOR</span>
                <span class='matched'>Cr</span>
                aftwrek Pvt Ltd
              </a>
            </li>
            <li>
              <a href='#'>
                <span class='icon icon-clock'></span>
                <span class='indicator'>&nbsp;</span>
                <span class='matched'>Cr</span>
                ossbow International
              </a>
            </li>
          </ul>
          <ul class='shop-searches'>
            <li>
              <a href='#'>
                <span class='icon icon-search-find'></span>
                <span class='indicator left'>
                  SHOP
                </span>
                <span class='matched'>Cr</span>
                ome Plated Brassplate
                <span class='indicator'>
                  IN
                  <b>FURNITURE STORE</b>
                </span>
              </a>
            </li>
            <li>
              <a href='#'>
                <span class='icon icon-search-find'></span>
                <span class='indicator'>&nbsp;</span>
                <span class='matched'>Cr</span>
                ockery Set
                <span class='indicator'>
                  IN
                  <b>LAMPS & LIGHTING STORE</b>
                </span>
              </a>
            </li>
            <li>
              <a href='#'>
                <span class='icon icon-search-find'></span>
                <span class='indicator'>&nbsp;</span>
                <span class='matched'>Cr</span>
                ane
                <span class='indicator'>
                  IN
                  <b>FURNITURE STORE</b>
                </span>
              </a>
            </li>
          </ul>
          <ul class='expert-cat-searches'>
            <li>
              <a href='#'>
                <span class='icon icon-search-find'></span>
                <span class='indicator left'>SEARCH FOR</span>
                <span class='matched'>Cr</span>
                aft Equipment Suppliers
                <span class='indicator'>
                  IN
                  <b>EXPERTS</b>
                </span>
              </a>
            </li>
          </ul>
          <ul class='expert-searches'>
            <li>
              <a href='#'>
                <span class='avatar'>
                  <img src='../../images/avatars/96x96/2.png'>
                </span>
                <span class='indicator left'>EXPERT</span>
                <span class='matched'>Cr</span>
                itical Designs
                <span class='indicator'>
                  IN
                  <b>ARCHITECTS</b>
                </span>
              </a>
            </li>
            <li>
              <a href='#'>
                <span class='avatar'>
                  <img src='../../images/avatars/96x96/1.png'>
                </span>
                <span class='indicator'>&nbsp;</span>
                <span class='matched'>Cr</span>
                eedence Clearwater
                <span class='indicator'>
                  IN
                  <b>ARCHITECTS</b>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class='header-links'>
        <ul>
          <li>
            <a class='header-link' href='#'>Home</a>
          </li>
          <li>
            <a class='header-link' href='#'>Photos</a>
          </li>
          <li>
            <a class='header-link' href='#'>Experts</a>
          </li>
          <li>
            <a class='header-link' href='#'>Shop</a>
          </li>
          <li>
            <a class='header-link icon-shopping-cart' href='#'></a>
          </li>
          <li class='with-dd'>
            <a class='header-link icon-user' href='#'></a>
            <div class='dropdown'>
              <ul>
                <li>
                  <a href='#'>Account</a>
                </li>
                <li>
                  <a href='#'>Orders</a>
                </li>
                <li>
                  <a href='#'>Settings</a>
                </li>
                <li>
                  <a href='#'>Profile</a>
                </li>
                <li>
                  <a href='#'>Addresses</a>
                </li>
                <li>
                  <a href='#'>Logout</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
        <a class='button-primary' href='#'>Login</a>
      </div>
    </div>
  </div>
</header>
