
= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/head.haml")).render
%body
	= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/header.haml")).render
	.container
		%br
		%br
		%br
		%br
		%br
		.products-list
			.row.two-col-inv
				%h1.fancy-heading.lamp Lamps & Lighting Store
				.left-col
					%h2 Filters
					.filter-box
						%h3 Price
						%ul
							%li
								- ["less than 500", "501 - 1,500", "1,501 - 5,000", "5,001 - 10,000", "10,001 - 25,000", "more than 25,000"].each do |item|
									%a{href:"#"}= item
				.right-col
					%h2 Showing 1920 products
					- ((rand(20)+1)*(rand(5)+1)).times do 
						%a.product-box{href:"product-details.html"}
							%img{src: "../../images/lamps/#{rand(28)+1}.jpg"}
							.details
								%h4= ["Hand Painted Black And Red Wooden Lamp", "Hand Painted Gold Fish Table Lamp", "Handcrafted Majestic Dhokra Lamp", "Ethnic Wooden Multicoloured Lamp", "Ball 8\" Full Hollow", "Silver Plated Candle Stand"].sample
								%span.price
									%span.WebRupee &#x20B9;
									%span.amount= rand(200000)*10
					.actions
						%a.more-button{href: "#"} Show More