= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/head.haml")).render
%body
	= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/header.haml")).render
	.container
		.row
			%br
			%br
			%br
			%br
			%br
			%h1
				Hi
				%i= Faker::Name.name
				, these are your Favorites
			.favorites-container
				- (rand(10)*5).times do |i|
					%a.fav{href: "#"}
						%img{src: "../../images/misc/800x600/#{rand(20)+1}.jpg"}
						.summary
							- if rand(10) > 4
								.title= ["Round Tea/Coffee Table", "Oslo Bookshelf(Big)", "Handpainted White Tribal Terracotta Pots Set", "Clay Craft Tea For One - 3 Pcs", "Granite Cheese Platter With Knife", "Ethnic Wooden Multicoloured Lamp"].sample
								.excerpt= Faker::Lorem.paragraph
							- else
								.title= ["Modern Living Room", "Contemporary Kitchen", "Eclectic Kids Room"].sample

	
	= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/footer.haml")).render
