= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/head.haml")).render
%body
	= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/header.haml")).render
	.container
		.row
			%br
			%br
			%br
			%br
			%br
			%h1
				Hi
				%i= Faker::Name.name
				, this is your Wishlist	2
			.favorites-container
				- (rand(10)*5).times do |i|
					.fav
						%img{src: "../../images/misc/800x600/#{rand(20)+1}.jpg"}
						.summary
							.title= ["Round Tea/Coffee Table", "Oslo Bookshelf(Big)", "Handpainted White Tribal Terracotta Pots Set", "Clay Craft Tea For One - 3 Pcs", "Granite Cheese Platter With Knife", "Ethnic Wooden Multicoloured Lamp"].sample
							.price
								%span.WebRupee &#x20B9;
								%span.amount= rand(100)*rand(100)

	
	= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/footer.haml")).render
