/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset"
@import compass/css3
@import compass/typography
@import colors


+establish-baseline

.container
	width: 80%
	min-width: 300px
	margin: 0 auto
	font-family: sans
	+adjust-font-size-to(16px)

h1
	+margin-leader
	.heading
		display: inline-block
		vertical-align: top
		font-size: 24px
		color: $blue
		.byline
			color: #222
			font-size: 0.6em
			margin-top: 0.25em

p
	+adjust-font-size-to(16px)
	+margin-trailer

table
	td
		padding: 0.5em
		line-height: 1em
		vertical-align: top
	td.title
		font-weight: bold
	td.order_id 
		background: $yellow1

h2
	font-weight: bold
	+adjust-font-size-to(20px)
	+padding-leader
	+padding-trailer

.product-row
	+margin-leader
	+margin-trailer
	background: #f0f0f0
	+box-shadow(0 0 5px 1px rgba(#000, 0.25))
	.image
		display: inline-block
		vertical-align: top
		width: 150px
		img
			width: 100%
	.details
		vertical-align: top
		padding: 0.5em
		display: inline-block
	h3
		font-weight: bold
b
	font-weight: bold
.ar
	text-align: right
.ac
	text-align: center
.amount
	color: $blue
.apper
	+padding-leader
	border-top: 1px solid #eee
	h2
		font-weight: normal

.footnote
	+margin-leader
	+margin-trailer
	+adjust-font-size-to(13px)