/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 106, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 13, ../../sass/mailers/order-confirmation.sass */
.container {
  width: 80%;
  min-width: 300px;
  margin: 0 auto;
  font-family: sans;
  font-size: 1em;
  line-height: 1.5em;
}

/* line 20, ../../sass/mailers/order-confirmation.sass */
h1 {
  margin-top: 1.5em;
}
/* line 22, ../../sass/mailers/order-confirmation.sass */
h1 .heading {
  display: inline-block;
  vertical-align: top;
  font-size: 24px;
  color: #0399f4;
}
/* line 27, ../../sass/mailers/order-confirmation.sass */
h1 .heading .byline {
  color: #222;
  font-size: 0.6em;
  margin-top: 0.25em;
}

/* line 32, ../../sass/mailers/order-confirmation.sass */
p {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

/* line 37, ../../sass/mailers/order-confirmation.sass */
table td {
  padding: 0.5em;
  line-height: 1em;
  vertical-align: top;
}
/* line 41, ../../sass/mailers/order-confirmation.sass */
table td.title {
  font-weight: bold;
}
/* line 43, ../../sass/mailers/order-confirmation.sass */
table td.order_id {
  background: #F7CA53;
}

/* line 46, ../../sass/mailers/order-confirmation.sass */
h2 {
  font-weight: bold;
  font-size: 1.25em;
  line-height: 1.2em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

/* line 52, ../../sass/mailers/order-confirmation.sass */
.product-row {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  background: #f0f0f0;
  -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
}
/* line 57, ../../sass/mailers/order-confirmation.sass */
.product-row .image {
  display: inline-block;
  vertical-align: top;
  width: 150px;
}
/* line 61, ../../sass/mailers/order-confirmation.sass */
.product-row .image img {
  width: 100%;
}
/* line 63, ../../sass/mailers/order-confirmation.sass */
.product-row .details {
  vertical-align: top;
  padding: 0.5em;
  display: inline-block;
}
/* line 67, ../../sass/mailers/order-confirmation.sass */
.product-row h3 {
  font-weight: bold;
}

/* line 69, ../../sass/mailers/order-confirmation.sass */
b {
  font-weight: bold;
}

/* line 71, ../../sass/mailers/order-confirmation.sass */
.ar {
  text-align: right;
}

/* line 73, ../../sass/mailers/order-confirmation.sass */
.ac {
  text-align: center;
}

/* line 75, ../../sass/mailers/order-confirmation.sass */
.amount {
  color: #0399f4;
}

/* line 77, ../../sass/mailers/order-confirmation.sass */
.apper {
  padding-top: 1.5em;
  border-top: 1px solid #eee;
}
/* line 80, ../../sass/mailers/order-confirmation.sass */
.apper h2 {
  font-weight: normal;
}

/* line 83, ../../sass/mailers/order-confirmation.sass */
.footnote {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 0.8125em;
  line-height: 1.84615em;
}
