= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/head.haml")).render

%body
	= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/header.haml")).render
	.container
		%br
		%br
		%br
		%br
		.row
			.shop-categories
				%h2 Shop for your home in these sections
				%a#home-decor-link{href: "#"}
					%img{src:"../../images/sections/homedecor.jpg"}
					.overlay	
						%span.overlay-content Home Decor
				%a#furniture-link{href: "#"}
					%img{src:"../../images/sections/furniture.jpg"}
					.overlay	
						%span.overlay-content Furniture
				%a#lamps-link{href: "#"}
					%img{src:"../../images/sections/lamps.jpg"}
					.overlay	
						%span.overlay-content Lamps & Lighting
				%a#kitchen-link{href: "#"}
					%img{src:"../../images/sections/kitchen.jpg"}
					.overlay	
						%span.overlay-content Kitchen & Dining
			.experts-search
				%h2 Find the right home service expert for your project
				%h3 Search across cities and service types
				%form
					.fieldset
						.field
							%label CITY
							%select
								- %w(Delhi\ NCR Chennai Mumbai Bengaluru Kolkata Pune).each do |item|
									%option{value: item}= item
						.field
							%label TYPE OF EXPERT
							%select
								- %w(Architect Interior\ Designer	).each do |item|
									%option{value: item}= item
					%a.button-secondary{href: "#"} Search
		.row
			%br
			%br
			.left-sidebar
				%h3 Browse for inspiration in the following categories
				%h4 SPACE
				%ul
					- %w(Living Bedroom Children's\ Room Dining Kitchen).each do |item|
						%li
							%a{href: "#"}= item
				%h4 STYLE
				%ul
					- %w(Minimal Eclectic Contemporary Classic Modern).each do |item|
						%li
							%a{href: "#"}= item							
			.feed-wrapper.feed-wrapper-1
				.feed-container
					- (rand(1)+1).times do
						- (rand(2)+1).times do
							= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/feed-item-photo.haml")).render
						- (rand(2)+1).times do
							= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/feed-item-photos.haml")).render
						- (rand(2)+1).times do
							= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/feed-item-project.haml")).render
						- (rand(2)+1).times do
							= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/feed-item-article.haml")).render
						- (rand(2)+1).times do
							= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/feed-item-shop.haml")).render	
= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/footer.haml")).render