= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/head.haml")).render
%body
	= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/header.haml")).render
	.container
		.row.three-col
			.left-sidebar
				.sidebar-links
					%ol
						%li
							%a.icon.icon-user{href: "#"} Account
						%li
							%a.icon.icon-files{href: "#"} Orders
						%li
							%a.icon.icon-cog-gear{href: "#"} Settings
			.feed-wrapper.content-area
				%br
				%br
				%br
				.feed-container
					- (rand(5)+1).times do
						- (rand(2)+1).times do
							= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/feed-item-photo.haml")).render
						- (rand(2)+1).times do
							= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/feed-item-article.haml")).render
					%a.more-button{href: "#"} Show more
			.right-sidebar
				.expert-search
					%h2 Search For the Right Home Service Expert
					%input{ placeholder: "Select City"}
					%input{ placeholder: "Select Type of Service"}
					%a.button-secondary{href: "#"} Go &rarr;
				.shop-sections
					%h2 Shop for your home in the following categories
					%a{href: "#"}
						%img{src:"../../images/sections/homedecor.jpg"}
						.overlay
							Home Decor
					%a{href: "#"}
						%img{src:"../../images/sections/lamps.jpg"}
						.overlay
							Lamps & Lighting
					%a{href: "#"}
						%img{src:"../../images/sections/furniture.jpg"}
						.overlay
							Furniture
					%a{href: "#"}
						%img{src:"../../images/sections/kitchen.jpg"}															
						.overlay
							Kitchen & Dining					
= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/footer.haml")).render
