/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/_base.sass */
body {
  font-family: "Alegreya Sans", sans-serif;
  background-color: #fff;
  color: #222;
}
/* line 106, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
body html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 9, ../sass/_base.sass */
a {
  color: #222;
  text-decoration: none;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 13, ../sass/_base.sass */
a:hover {
  color: #0399f4;
}

/* line 16, ../sass/_base.sass */
.button-primary {
  padding: 0.5em 1em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fafafa;
  background-color: #0399f4;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
/* line 21, ../sass/_mixins.sass */
.button-primary:hover {
  background-color: #0279c2;
  color: #fafafa;
}
/* line 24, ../sass/_mixins.sass */
.button-primary:active {
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.25);
}

/* line 18, ../sass/_base.sass */
.button-secondary {
  padding: 0.5em 1em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fafafa;
  background-color: #263238;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 34, ../sass/_mixins.sass */
.button-secondary:hover {
  background-color: #11171a;
  color: #fafafa;
}
/* line 37, ../sass/_mixins.sass */
.button-secondary:active {
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.25);
}

/* line 22, ../sass/_base.sass */
.header-wrapper {
  width: 1200px;
  margin: 0 auto;
}

/* line 27, ../sass/_base.sass */
header.header {
  display: block;
  width: 100%;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  padding: 0.5em 0;
  padding-bottom: 0;
}

/* line 34, ../sass/_base.sass */
.header-fixed {
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 100000;
}

/* line 40, ../sass/_base.sass */
.header-links {
  float: right;
  margin-top: -0.5em;
}
/* line 43, ../sass/_base.sass */
.header-links ul {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1em;
}
/* line 48, ../sass/_base.sass */
.header-links ul li {
  display: inline-block;
}
/* line 50, ../sass/_base.sass */
.header-links ul > li a {
  padding: 1em;
  display: inline-block;
  color: #263238;
  text-decoration: none;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 56, ../sass/_base.sass */
.header-links ul > li a:hover {
  color: #0399f4;
}
/* line 58, ../sass/_base.sass */
.header-links ul li.with-dd {
  position: relative;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 61, ../sass/_base.sass */
.header-links ul li.with-dd:hover {
  background: #0399f4;
}
/* line 63, ../sass/_base.sass */
.header-links ul li.with-dd:hover .dropdown {
  top: 3.25em;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  height: auto;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 68, ../sass/_base.sass */
.header-links ul li.with-dd:hover > a {
  color: #fff;
}
/* line 70, ../sass/_base.sass */
.header-links ul li.with-dd .dropdown {
  position: absolute;
  background: rgba(38, 50, 56, 0.95);
  border: 1px solid rgba(0, 0, 0, 0.1);
  right: 0;
  min-width: 150px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0;
  border-radius: 0 0 3px 3px;
  border-top: 0;
  z-index: 10000;
  top: -20em;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  height: 0;
  -moz-transform: scale(0.01);
  -ms-transform: scale(0.01);
  -webkit-transform: scale(0.01);
  transform: scale(0.01);
}
/* line 85, ../sass/_base.sass */
.header-links ul li.with-dd .dropdown ul {
  display: block;
  padding: 0;
  margin-right: 0;
}
/* line 89, ../sass/_base.sass */
.header-links ul li.with-dd .dropdown li {
  display: block;
}
/* line 91, ../sass/_base.sass */
.header-links ul li.with-dd .dropdown li a {
  padding: 0.5em;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #fff;
}
/* line 97, ../sass/_base.sass */
.header-links ul li.with-dd .dropdown li:last-of-type a {
  border-bottom: 0;
}
/* line 100, ../sass/_base.sass */
.header-links ul li.with-dd .dropdown li:hover a {
  background: #0399f4;
  color: #fff;
}
/* line 103, ../sass/_base.sass */
.header-links .button-primary {
  vertical-align: middle;
  display: inline-block;
}

/* line 107, ../sass/_base.sass */
#header-search {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  position: relative;
}
/* line 112, ../sass/_base.sass */
#header-search input {
  width: 100%;
  padding: 0.5em 0.5em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ddd;
  font-size: 16px;
}
/* line 118, ../sass/_base.sass */
#header-search .dropdown {
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  min-width: 250px;
  position: absolute;
  background: rgba(255, 255, 255, 0.99);
  width: 250%;
  left: -25%;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0;
  border-radius: 0 0 3px 3px;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
/* line 130, ../sass/_base.sass */
#header-search .dropdown.visible {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
/* line 142, ../sass/_base.sass */
#header-search .recent-searches, #header-search .shop-searches, #header-search .expert-searches, #header-search .expert-cat-searches {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 144, ../sass/_base.sass */
#header-search .recent-searches .icon, #header-search .shop-searches .icon, #header-search .expert-searches .icon, #header-search .expert-cat-searches .icon {
  color: #aaa;
  vertical-align: middle;
  margin-right: 5px;
}
/* line 149, ../sass/_base.sass */
#header-search .recent-searches li a, #header-search .shop-searches li a, #header-search .expert-searches li a, #header-search .expert-cat-searches li a {
  display: block;
  padding: 0.75em;
  color: #222;
}
/* line 153, ../sass/_base.sass */
#header-search .recent-searches li a .avatar, #header-search .shop-searches li a .avatar, #header-search .expert-searches li a .avatar, #header-search .expert-cat-searches li a .avatar {
  display: inline-block;
  vertical-align: middle;
}
/* line 156, ../sass/_base.sass */
#header-search .recent-searches li a .avatar img, #header-search .shop-searches li a .avatar img, #header-search .expert-searches li a .avatar img, #header-search .expert-cat-searches li a .avatar img {
  height: 1.5em;
  -moz-border-radius: 200%;
  -webkit-border-radius: 200%;
  border-radius: 200%;
}
/* line 159, ../sass/_base.sass */
#header-search .recent-searches li a:hover, #header-search .shop-searches li a:hover, #header-search .expert-searches li a:hover, #header-search .expert-cat-searches li a:hover {
  background: #0399f4;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  color: #fff;
}
/* line 163, ../sass/_base.sass */
#header-search .recent-searches li a:hover .matched, #header-search .recent-searches li a:hover .indicator, #header-search .recent-searches li a:hover .icon, #header-search .shop-searches li a:hover .matched, #header-search .shop-searches li a:hover .indicator, #header-search .shop-searches li a:hover .icon, #header-search .expert-searches li a:hover .matched, #header-search .expert-searches li a:hover .indicator, #header-search .expert-searches li a:hover .icon, #header-search .expert-cat-searches li a:hover .matched, #header-search .expert-cat-searches li a:hover .indicator, #header-search .expert-cat-searches li a:hover .icon {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
/* line 166, ../sass/_base.sass */
#header-search .recent-searches .matched, #header-search .shop-searches .matched, #header-search .expert-searches .matched, #header-search .expert-cat-searches .matched {
  color: #0399f4;
  display: inline-block;
  vertical-align: middle;
}
/* line 170, ../sass/_base.sass */
#header-search .recent-searches .icon, #header-search .shop-searches .icon, #header-search .expert-searches .icon, #header-search .expert-cat-searches .icon {
  display: inline-block;
  vertical-align: middle;
}
/* line 173, ../sass/_base.sass */
#header-search .recent-searches .indicator, #header-search .shop-searches .indicator, #header-search .expert-searches .indicator, #header-search .expert-cat-searches .indicator {
  display: inline-block;
  vertical-align: middle;
  color: #aaa;
  font-size: 12px;
  padding: 0 0.25em;
  min-width: 60px;
  text-align: right;
  margin-right: 10px;
}
/* line 182, ../sass/_base.sass */
#header-search .recent-searches b, #header-search .shop-searches b, #header-search .expert-searches b, #header-search .expert-cat-searches b {
  font-weight: bold;
}

/* line 185, ../sass/_base.sass */
#location-selector {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-top: -0.25em;
  margin-right: 10px;
  margin-left: 10px;
}
/* line 193, ../sass/_base.sass */
#location-selector:hover .current {
  background: #0399f4;
  color: #fff;
}
/* line 196, ../sass/_base.sass */
#location-selector:hover .dropdown {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  top: 2.8em;
}
/* line 200, ../sass/_base.sass */
#location-selector .current {
  font-size: 20px;
  padding: 0.5em;
  cursor: pointer;
}
/* line 204, ../sass/_base.sass */
#location-selector .dropdown {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  position: absolute;
  background: rgba(38, 50, 56, 0.95);
  top: -13.5em;
  min-width: 200px;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0;
  border-radius: 0 0 3px 3px;
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}
/* line 214, ../sass/_base.sass */
#location-selector .dropdown a {
  border-bottom: 1px rgba(0, 0, 0, 0.75);
  padding: 0.5em;
  display: block;
  color: #fff;
}
/* line 219, ../sass/_base.sass */
#location-selector .dropdown a:hover {
  color: #fff;
  background: #0399f4;
}

/* line 226, ../sass/_base.sass */
.container {
  margin: 0 auto;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
/* line 12, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/susy-2.2.6/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 231, ../sass/_base.sass */
h1 {
  font-size: 1.875em;
  line-height: 1.6em;
  margin-bottom: 1.5em;
}

/* line 235, ../sass/_base.sass */
h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin-bottom: 0.75em;
}

/* line 238, ../sass/_base.sass */
h3 {
  font-size: 1.25em;
  line-height: 1.2em;
  margin-bottom: 0.75em;
}

/* line 241, ../sass/_base.sass */
h4 {
  margin-top: 0.75em;
}

/* line 246, ../sass/_base.sass */
i {
  font-style: italic;
}

/* line 250, ../sass/_base.sass */
.row {
  overflow: hidden;
  *zoom: 1;
}
/* line 253, ../sass/_base.sass */
.row.three-col .left-sidebar, .row.three-col .right-sidebar, .row.three-col .content-area {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
}
/* line 257, ../sass/_base.sass */
.row.three-col .left-sidebar, .row.three-col .right-sidebar {
  width: 15%;
}
/* line 259, ../sass/_base.sass */
.row.three-col .content-area {
  width: 60%;
}
/* line 261, ../sass/_base.sass */
.row.three-col .right-sidebar {
  margin-right: 0;
}
/* line 264, ../sass/_base.sass */
.row.two-col-inv .left-col {
  width: 20%;
  float: left;
  padding: 1em;
}
/* line 268, ../sass/_base.sass */
.row.two-col-inv .right-col {
  padding: 1em;
  width: 72%;
  float: left;
}
/* line 273, ../sass/_base.sass */
.row .left-col {
  width: 70%;
  float: left;
}
/* line 276, ../sass/_base.sass */
.row .right-col {
  width: 29%;
  float: right;
}
/* line 279, ../sass/_base.sass */
.row b {
  font-weight: bold;
  margin-right: 10px;
}
/* line 282, ../sass/_base.sass */
.row p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 1em;
  line-height: 1.5em;
}

/* line 288, ../sass/_base.sass */
.more-button {
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0.5em 3em;
  font-size: 1.25em;
  line-height: 1.2em;
  color: #ccc;
  width: 30%;
  margin: 2em auto;
  display: block;
  overflow: hidden;
  *zoom: 1;
  clear: both;
  text-align: center;
}

/* line 305, ../sass/_base.sass */
.tabs {
  overflow: hidden;
  *zoom: 1;
}
/* line 307, ../sass/_base.sass */
.tabs .tab-links {
  overflow: hidden;
  *zoom: 1;
  border-bottom: 1px solid #eee;
}
/* line 310, ../sass/_base.sass */
.tabs .tab-links a.tab {
  color: #222;
  padding: 1em;
  display: inline-block;
  min-width: 150px;
  text-align: center;
  font-size: 1.25em;
  line-height: 1.2em;
  border-bottom: 5px solid transparent;
}
/* line 318, ../sass/_base.sass */
.tabs .tab-links a.tab.active {
  color: #0399f4;
  border-bottom-color: #0399f4;
}
/* line 321, ../sass/_base.sass */
.tabs .tab-links a.tab:hover {
  color: #0399f4;
}
/* line 323, ../sass/_base.sass */
.tabs .tab-contents {
  margin-top: 1.5em;
}
/* line 325, ../sass/_base.sass */
.tabs .tab-contents .tab-content {
  display: none;
}
/* line 327, ../sass/_base.sass */
.tabs .tab-contents .tab-content.active {
  display: block;
}

/* line 330, ../sass/_base.sass */
.number {
  font-family: Merriweather, serif;
}

/* line 333, ../sass/_base.sass */
.crossable {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 0.5em;
  cursor: pointer;
}
/* line 337, ../sass/_base.sass */
.crossable:after {
  content: "x";
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.25em;
  color: #aaa;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 344, ../sass/_base.sass */
.crossable:hover {
  text-decoration: line-through;
  color: #d50000;
}
/* line 347, ../sass/_base.sass */
.crossable:hover:after {
  color: #d50000;
}

/* line 2, ../sass/jquery.fancybox.sass */
.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

/* line 10, ../sass/jquery.fancybox.sass */
.fancybox-wrap iframe, .fancybox-wrap object {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

/* line 17, ../sass/jquery.fancybox.sass */
.fancybox-nav {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}
/* line 23, ../sass/jquery.fancybox.sass */
.fancybox-nav span {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

/* line 30, ../sass/jquery.fancybox.sass */
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

/* line 37, ../sass/jquery.fancybox.sass */
.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 80200000;
}

/* line 43, ../sass/jquery.fancybox.sass */
.fancybox-skin {
  position: relative;
  background: transparent;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 52, ../sass/jquery.fancybox.sass */
.fancybox-opened {
  z-index: 80300000;
}

/* line 56, ../sass/jquery.fancybox.sass */
.fancybox-outer {
  position: relative;
}

/* line 59, ../sass/jquery.fancybox.sass */
.fancybox-inner {
  position: relative;
  overflow: hidden;
}

/* line 63, ../sass/jquery.fancybox.sass */
.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

/* line 66, ../sass/jquery.fancybox.sass */
.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

/* line 73, ../sass/jquery.fancybox.sass */
.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 78, ../sass/jquery.fancybox.sass */
.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

/* line 82, ../sass/jquery.fancybox.sass */
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("fancybox_sprite.png");
}

/* line 85, ../sass/jquery.fancybox.sass */
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 80600000;
}
/* line 95, ../sass/jquery.fancybox.sass */
#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("../images/fancybox_loading.gif") center center no-repeat;
}

/* line 100, ../sass/jquery.fancybox.sass */
.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}

/* line 109, ../sass/jquery.fancybox.sass */
.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("../images/blank.gif");
  -webkit-tap-highlight-color: transparent;
  z-index: 80400000;
}

/* line 120, ../sass/jquery.fancybox.sass */
.fancybox-prev {
  left: 0;
}

/* line 123, ../sass/jquery.fancybox.sass */
.fancybox-next {
  right: 0;
}

/* line 126, ../sass/jquery.fancybox.sass */
.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

/* line 136, ../sass/jquery.fancybox.sass */
.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

/* line 140, ../sass/jquery.fancybox.sass */
.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

/* line 144, ../sass/jquery.fancybox.sass */
.fancybox-nav:hover span {
  visibility: visible;
}

/* line 147, ../sass/jquery.fancybox.sass */
.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* line 157, ../sass/jquery.fancybox.sass */
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}
/* line 160, ../sass/jquery.fancybox.sass */
.fancybox-lock body {
  overflow: hidden !important;
}

/* line 163, ../sass/jquery.fancybox.sass */
.fancybox-lock-test {
  overflow-y: hidden !important;
}

/* line 166, ../sass/jquery.fancybox.sass */
.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 80100000;
  background: rgba(0, 0, 0, 0.8);
}

/* line 175, ../sass/jquery.fancybox.sass */
.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

/* line 180, ../sass/jquery.fancybox.sass */
.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* line 185, ../sass/jquery.fancybox.sass */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

/* line 192, ../sass/jquery.fancybox.sass */
.fancybox-opened .fancybox-title {
  visibility: visible;
}

/* line 195, ../sass/jquery.fancybox.sass */
.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}
/* line 202, ../sass/jquery.fancybox.sass */
.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #fff;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

/* line 217, ../sass/jquery.fancybox.sass */
.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

/* line 222, ../sass/jquery.fancybox.sass */
.fancybox-title-inside-wrap {
  padding-top: 10px;
}

/* line 225, ../sass/jquery.fancybox.sass */
.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 235, ../sass/jquery.fancybox.sass */
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("../images/fancybox_sprite@2x.png");
    background-size: 44px 152px;
  }

  /* line 238, ../sass/jquery.fancybox.sass */
  #fancybox-loading div {
    background-image: url("../images/fancybox_loading@2x.gif");
    background-size: 24px 24px;
  }
}
/* line 16, ../sass/screen.sass */
.shop-categories {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
}
/* line 18, ../sass/screen.sass */
.shop-categories > a {
  display: inline-block;
  position: relative;
  margin-right: -2px;
  width: 45%;
  min-width: 200px;
  max-width: 290px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 26, ../sass/screen.sass */
.shop-categories > a .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -1px;
  left: 0;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 33, ../sass/screen.sass */
.shop-categories > a .overlay .overlay-content {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  text-align: center;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 1.5em;
  line-height: 2em;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  font-weight: 700;
  font-family: "Poiret One", cursive;
}
/* line 45, ../sass/screen.sass */
.shop-categories > a .overlay .overlay-content:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
/* line 50, ../sass/screen.sass */
.shop-categories > a img {
  max-width: 290px;
  width: 100%;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 55, ../sass/screen.sass */
.shop-categories > a:hover img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 59, ../sass/screen.sass */
.shop-categories #furniture-link:hover .overlay, .shop-categories #kitchen-link:hover .overlay, .shop-categories #home-decor-link:hover .overlay, .shop-categories #lamps-link:hover .overlay {
  background-color: transparent;
}
/* line 61, ../sass/screen.sass */
.shop-categories #furniture-link:hover .overlay .overlay-content, .shop-categories #kitchen-link:hover .overlay .overlay-content, .shop-categories #home-decor-link:hover .overlay .overlay-content, .shop-categories #lamps-link:hover .overlay .overlay-content {
  color: #000;
  text-shadow: 0 -1px 1px white;
  letter-spacing: 2px;
}
/* line 66, ../sass/screen.sass */
.shop-categories #furniture-link .overlay {
  background-color: rgba(232, 96, 110, 0.8);
}
/* line 69, ../sass/screen.sass */
.shop-categories #kitchen-link .overlay {
  background-color: rgba(247, 202, 83, 0.8);
}
/* line 72, ../sass/screen.sass */
.shop-categories #lamps-link .overlay {
  background-color: rgba(180, 255, 156, 0.8);
}
/* line 75, ../sass/screen.sass */
.shop-categories #home-decor-link .overlay {
  background-color: rgba(138, 216, 202, 0.8);
}

/* line 79, ../sass/screen.sass */
.experts-search {
  width: 47.45763%;
  float: left;
  margin-right: 1.69492%;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 83, ../sass/screen.sass */
.experts-search form {
  padding-bottom: 1.5em;
  margin-left: 2em;
}
/* line 86, ../sass/screen.sass */
.experts-search form .field {
  padding-top: 1.5em;
}
/* line 88, ../sass/screen.sass */
.experts-search form .field label {
  display: block;
  width: 100%;
  margin-left: 1em;
  font-weight: bold;
  font-size: 0.875em;
  line-height: 1.71429em;
}
/* line 94, ../sass/screen.sass */
.experts-search form .field select {
  background: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 0.25em 0.5em;
  min-width: 120px;
  width: 60%;
  color: #888;
  font-size: 1.5em;
  line-height: 2em;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 103, ../sass/screen.sass */
.experts-search form .field select:hover {
  border: 1px solid #0399f4;
}
/* line 105, ../sass/screen.sass */
.experts-search .button-secondary {
  line-height: 7em;
}

/* line 109, ../sass/screen.sass */
.left-sidebar {
  width: 18%;
  float: left;
  margin-right: 1.69492%;
  margin-top: 4.5em;
}
/* line 112, ../sass/screen.sass */
.left-sidebar h4 {
  font-size: 0.75em;
  line-height: 2em;
  font-weight: 800;
  margin-top: 1.5em;
}
/* line 116, ../sass/screen.sass */
.left-sidebar li > a {
  display: block;
  font-size: 1em;
  line-height: 1.5em;
  padding: 0.25em;
  margin-left: -0.25em;
}
/* line 121, ../sass/screen.sass */
.left-sidebar li > a:before {
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  color: #aaa;
}

/* line 126, ../sass/screen.sass */
.feed-wrapper {
  margin-top: 3em;
  width: 75%;
  float: left;
  margin-right: 1.69492%;
}

/* line 132, ../sass/screen.sass */
.expert-cover {
  margin-bottom: 3em;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC44Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.8)));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}
/* line 135, ../sass/screen.sass */
.expert-cover .container {
  position: relative;
}
/* line 137, ../sass/screen.sass */
.expert-cover .cover-image {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 12em;
  margin-top: 3.25em;
  -moz-box-shadow: inset 0 -20px 60px rgba(0, 0, 0, 0.85);
  -webkit-box-shadow: inset 0 -20px 60px rgba(0, 0, 0, 0.85);
  box-shadow: inset 0 -20px 60px rgba(0, 0, 0, 0.85);
}
/* line 144, ../sass/screen.sass */
.expert-cover .user-info {
  position: absolute;
  bottom: -1.5em;
  left: 1em;
}
/* line 148, ../sass/screen.sass */
.expert-cover .avatar {
  border: 5px solid #fff;
  margin-right: 10px;
}
/* line 151, ../sass/screen.sass */
.expert-cover .avatar, .expert-cover .details {
  display: inline-block;
  vertical-align: top;
}
/* line 154, ../sass/screen.sass */
.expert-cover .details {
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
}
/* line 157, ../sass/screen.sass */
.expert-cover .details h3 {
  font-size: 1.875em;
  line-height: 1.6em;
  margin-bottom: auto;
  font-weight: bold;
}
/* line 161, ../sass/screen.sass */
.expert-cover .hire-button {
  padding: 0.5em 1em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fafafa;
  background-color: #0399f4;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 0;
  bottom: 1em;
  font-size: 1.25em;
  line-height: 1.2em;
  padding-left: 2em;
  padding-right: 2em;
  font-weight: bold;
}
/* line 21, ../sass/_mixins.sass */
.expert-cover .hire-button:hover {
  background-color: #0279c2;
  color: #fafafa;
}
/* line 24, ../sass/_mixins.sass */
.expert-cover .hire-button:active {
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.25);
}

/* line 171, ../sass/screen.sass */
.sidebar-links {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
/* line 174, ../sass/screen.sass */
.sidebar-links li {
  display: block;
}
/* line 176, ../sass/screen.sass */
.sidebar-links li a {
  display: block;
  padding: 0.25em 0.5em;
  padding-top: 0.375em;
  padding-bottom: 0.375em;
}
/* line 181, ../sass/screen.sass */
.sidebar-links li a:hover {
  color: #0399f4;
}
/* line 183, ../sass/screen.sass */
.sidebar-links li a:hover:before {
  color: #0399f4;
}
/* line 186, ../sass/screen.sass */
.sidebar-links li.active a {
  color: #0399f4;
}

/* line 190, ../sass/screen.sass */
.projects-wrapper {
  overflow: hidden;
  *zoom: 1;
}
/* line 192, ../sass/screen.sass */
.projects-wrapper .project {
  width: 48%;
  margin: 0.5%;
  float: left;
  position: relative;
}
/* line 197, ../sass/screen.sass */
.projects-wrapper .project img {
  width: 100%;
}
/* line 199, ../sass/screen.sass */
.projects-wrapper .project .overlay {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 0.5em;
  z-index: 10;
  position: absolute;
  left: 0;
  bottom: -1em;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 208, ../sass/screen.sass */
.projects-wrapper .project .overlay h3 {
  padding-left: 1em;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
  font-size: 1.875em;
  line-height: 1.6em;
  font-weight: bold;
}

/* line 215, ../sass/screen.sass */
.price {
  font-family: Merriweather, serif;
  font-size: 1.5em;
  line-height: 2em;
  color: #0399f4;
}
/* line 220, ../sass/screen.sass */
.price .amount {
  font-family: Merriweather, serif;
}

/* line 222, ../sass/screen.sass */
.fancy-heading {
  text-align: center;
  font-weight: bold;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  color: #222;
  font-size: 2.25em;
  line-height: 1.33333em;
}

/* line 230, ../sass/screen.sass */
.products-list {
  overflow: hidden;
  *zoom: 1;
}
/* line 232, ../sass/screen.sass */
.products-list h1 {
  font-size: 1.875em;
  line-height: 1.6em;
  margin-bottom: 0.75em;
}
/* line 235, ../sass/screen.sass */
.products-list h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin-bottom: 1.5em;
}
/* line 238, ../sass/screen.sass */
.products-list .fancy-heading.lamp {
  text-align: center;
  font-weight: bold;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4yNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='), url("../images/lamps/6.jpg");
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.25))), url("../images/lamps/6.jpg");
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25)), url("../images/lamps/6.jpg");
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25)), url("../images/lamps/6.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25)), url("../images/lamps/6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  text-shadow: 0 1px 2px rba(#000, 1);
  background-position: center;
  font-size: 2.25em;
  line-height: 1.33333em;
}
/* line 250, ../sass/screen.sass */
.products-list .actions {
  display: inline-block;
  width: 100%;
  text-align: center;
}
/* line 254, ../sass/screen.sass */
.products-list .product-box {
  float: left;
  width: 23.5%;
  margin: 3px;
  min-width: 150px;
  margin-bottom: 1.5em;
  height: 290px;
}
/* line 261, ../sass/screen.sass */
.products-list .product-box img {
  width: 100%;
}
/* line 264, ../sass/screen.sass */
.products-list .product-box .details h4 {
  font-size: 1em;
  line-height: 1.5em;
}
/* line 266, ../sass/screen.sass */
.products-list .product-box:hover .price {
  color: #0399f4;
}
/* line 268, ../sass/screen.sass */
.products-list .product-box:hover .price .amount {
  color: #0399f4;
}
/* line 270, ../sass/screen.sass */
.products-list .price {
  font-size: 18px;
  font-family: Merriweather, serif;
  color: #263238;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 275, ../sass/screen.sass */
.products-list .price .amount {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 278, ../sass/screen.sass */
.filter-box {
  margin-bottom: 1.5em;
}
/* line 281, ../sass/screen.sass */
.filter-box ul.secondary {
  margin: 0.5em;
}
/* line 283, ../sass/screen.sass */
.filter-box ul.secondary .active {
  font-weight: bold;
}
/* line 285, ../sass/screen.sass */
.filter-box ul li {
  display: block;
}
/* line 287, ../sass/screen.sass */
.filter-box ul li > a {
  display: block;
  font-size: 1em;
  line-height: 1.5em;
}
/* line 290, ../sass/screen.sass */
.filter-box ul li > a.active {
  color: #0399f4;
}
/* line 293, ../sass/screen.sass */
.filter-box ul li > a:hover .number {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  color: #0399f4;
  border-color: #0399f4;
}
/* line 297, ../sass/screen.sass */
.filter-box ul li > a .number {
  font-family: Merriweather, serif;
  float: right;
  line-height: 2em;
  min-width: 20px;
  min-height: 20px;
  text-align: center;
  font-size: 10px;
  color: #222;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: table-cell;
  vertical-align: middle;
}
/* line 303, ../sass/screen.sass */
.filter-box ul li > a .number:before {
  content: "(";
}
/* line 305, ../sass/screen.sass */
.filter-box ul li > a .number:after {
  content: ")";
}

/* line 313, ../sass/screen.sass */
.breadcrumbs {
  color: #888;
}
/* line 315, ../sass/screen.sass */
.breadcrumbs a, .breadcrumbs span {
  font-size: 0.75em;
  line-height: 2em;
}
/* line 317, ../sass/screen.sass */
.breadcrumbs span {
  color: #222;
}
/* line 319, ../sass/screen.sass */
.breadcrumbs a:hover {
  color: #0399f4;
}

/* line 323, ../sass/screen.sass */
.prod-details .left-col, .prod-details .right-col {
  width: 48%;
}
/* line 325, ../sass/screen.sass */
.prod-details .image-gallery {
  margin-top: 1.5em;
  width: 100%;
}
/* line 328, ../sass/screen.sass */
.prod-details .image-gallery .thumbnails {
  text-align: center;
}
/* line 330, ../sass/screen.sass */
.prod-details .image-gallery .thumbnails img {
  height: 3em;
  border: 2px solid transparent;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin-right: 5px;
}
/* line 336, ../sass/screen.sass */
.prod-details .image-gallery .thumbnails img:hover {
  border-color: #0399f4;
}
/* line 338, ../sass/screen.sass */
.prod-details .image-gallery .big-image {
  width: 100%;
}
/* line 340, ../sass/screen.sass */
.prod-details .right-col {
  padding-left: 20px;
}
/* line 342, ../sass/screen.sass */
.prod-details .right-col h1 {
  margin: 0;
  font-size: 1.875em;
  line-height: 1.6em;
  font-weight: bold;
}
/* line 346, ../sass/screen.sass */
.prod-details .truncated-details {
  padding-bottom: 1.5em;
}
/* line 348, ../sass/screen.sass */
.prod-details .prod-availability {
  padding-bottom: 1.5em;
}
/* line 350, ../sass/screen.sass */
.prod-details .prod-availability label {
  font-size: 0.75em;
  line-height: 2em;
  display: block;
}
/* line 353, ../sass/screen.sass */
.prod-details .prod-availability input {
  border: 1px solid #eee;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 0.5em;
  margin-right: 10px;
}
/* line 358, ../sass/screen.sass */
.prod-details .prod-availability input:hover {
  border-color: #0399f4;
}
/* line 360, ../sass/screen.sass */
.prod-details .prod-quickie {
  margin-top: 1.5em;
  padding-bottom: 1.5em;
}
/* line 363, ../sass/screen.sass */
.prod-details .prod-quickie .price {
  font-family: Merriweather, serif;
  display: inline-block;
  vertical-align: middle;
  width: 40%;
  border-right: 1px solid #ddd;
  margin-right: 10px;
  font-size: 30px;
  text-align: center;
}
/* line 372, ../sass/screen.sass */
.prod-details .prod-quickie .del {
  display: inline-block;
  vertical-align: middle;
}
/* line 375, ../sass/screen.sass */
.prod-details .prod-quickie .small {
  color: #222;
  font-size: 0.5em;
  margin-top: -2em;
}
/* line 379, ../sass/screen.sass */
.prod-details .prod-actions {
  margin-top: 1.5em;
  padding-bottom: 1.5em;
}
/* line 382, ../sass/screen.sass */
.prod-details .prod-actions .button-primary, .prod-details .prod-actions .button-secondary {
  padding: 0.75em 0;
  width: 40%;
  text-align: center;
  margin-right: 10px;
  display: inline-block;
  font-size: 20px;
}
/* line 389, ../sass/screen.sass */
.prod-details .prod-social {
  border-bottom: 1px solid #eee;
  padding-bottom: 0.75em;
}
/* line 392, ../sass/screen.sass */
.prod-details .prod-social a {
  padding: 0.5em;
  color: #777;
}
/* line 395, ../sass/screen.sass */
.prod-details .prod-social a:first-child {
  margin-left: -0.5em;
}
/* line 397, ../sass/screen.sass */
.prod-details .prod-social a:before {
  font-size: 1.25em;
  line-height: 1.2em;
  vertical-align: middle;
  margin-right: 3px;
}
/* line 401, ../sass/screen.sass */
.prod-details .prod-social a:hover {
  color: #0399f4;
}
/* line 403, ../sass/screen.sass */
.prod-details .prod-seller {
  margin-top: 1.5em;
}
/* line 405, ../sass/screen.sass */
.prod-details .prod-seller .avatar {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  width: 32px;
}

/* line 411, ../sass/screen.sass */
.prod-tabs {
  margin-top: 3em;
  width: 80%;
  display: inline-block;
}

/* line 417, ../sass/screen.sass */
.sorts {
  margin-bottom: 3em;
  padding-bottom: 0.75em;
  font-size: 1em;
  line-height: 1.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 422, ../sass/screen.sass */
.sorts a {
  display: inline-block;
  vertical-align: baseline;
  padding: 0.5em;
  font-size: 1.25em;
  line-height: 1.2em;
}
/* line 427, ../sass/screen.sass */
.sorts a:hover {
  color: #0399f4;
}
/* line 429, ../sass/screen.sass */
.sorts a.active {
  color: #0399f4;
  font-weight: bold;
}

/* line 437, ../sass/screen.sass */
.feed-item {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), inset 0 0 3px 2px white;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), inset 0 0 3px 2px white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), inset 0 0 3px 2px white;
  margin-bottom: 1.5em;
}
/* line 443, ../sass/screen.sass */
.feed-item h3 {
  font-size: 1.5em;
  line-height: 2em;
  font-weight: bold;
  margin-bottom: 0;
  padding-left: 0.5em;
}
/* line 448, ../sass/screen.sass */
.feed-item h3 a {
  display: block;
}
/* line 450, ../sass/screen.sass */
.feed-item .featured-image {
  display: block;
  width: 100%;
  position: relative;
}
/* line 454, ../sass/screen.sass */
.feed-item .featured-image a {
  display: block;
}
/* line 456, ../sass/screen.sass */
.feed-item .featured-image a.image-gall {
  display: inline-block;
  width: 49.5%;
}
/* line 459, ../sass/screen.sass */
.feed-item .featured-image img {
  width: 100%;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px;
  border-radius: 3px 3px 0 0;
}
/* line 462, ../sass/screen.sass */
.feed-item .featured-image h3 {
  position: absolute;
  color: #fff;
  text-shadow: 0 1px 3px #000;
}
/* line 466, ../sass/screen.sass */
.feed-item .featured-image h3 a {
  color: #fff;
}
/* line 468, ../sass/screen.sass */
.feed-item .summary {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  overflow: hidden;
  *zoom: 1;
}
/* line 472, ../sass/screen.sass */
.feed-item .summary .user-info {
  padding-top: 0.375em;
  padding-bottom: 0.375em;
  padding-left: 0.5em;
  display: inline-block;
  vertical-align: middle;
  font-size: 0.875em;
  line-height: 1.71429em;
  width: 65%;
}
/* line 480, ../sass/screen.sass */
.feed-item .summary .user-info .details {
  display: inline-block;
  vertical-align: middle;
}
/* line 483, ../sass/screen.sass */
.feed-item .summary .user-info .avatar {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;
}
/* line 487, ../sass/screen.sass */
.feed-item .summary .user-info .avatar img {
  height: 2em;
  -moz-border-radius: 200%;
  -webkit-border-radius: 200%;
  border-radius: 200%;
}
/* line 490, ../sass/screen.sass */
.feed-item .summary .related-products {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
/* line 492, ../sass/screen.sass */
.feed-item .summary .related-products h5 {
  font-size: 0.8125em;
  line-height: 1.84615em;
  margin-top: 0.375em;
  margin-bottom: 0.375em;
  color: #aaa;
  padding-left: 0.6em;
}
/* line 498, ../sass/screen.sass */
.feed-item .summary .related-products > ol {
  margin-left: 0.5em;
}
/* line 500, ../sass/screen.sass */
.feed-item .summary .related-products > ol li.prod {
  display: inline-block;
  width: 14%;
  min-width: 100px;
  margin-right: 1%;
  vertical-align: top;
}
/* line 506, ../sass/screen.sass */
.feed-item .summary .related-products > ol li.prod img {
  width: 100%;
}
/* line 509, ../sass/screen.sass */
.feed-item .summary .related-products > ol li.prod:hover .prod-price {
  color: #0399f4;
}
/* line 511, ../sass/screen.sass */
.feed-item .summary .related-products > ol .prod-title {
  text-align: left;
  font-size: 0.875em;
  line-height: 1.71429em;
}
/* line 514, ../sass/screen.sass */
.feed-item .summary .related-products > ol .prod-price {
  font-size: 0.875em;
  line-height: 1.71429em;
  text-align: left;
  color: #222;
  font-weight: bold;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 520, ../sass/screen.sass */
.feed-item .summary .actions {
  display: inline-block;
  width: 32%;
  text-align: right;
}
/* line 524, ../sass/screen.sass */
.feed-item .summary .source {
  font-weight: bold;
}
/* line 527, ../sass/screen.sass */
.feed-item .like-button:before, .feed-item .share-button:before, .feed-item .comment-button:before {
  vertical-align: middle;
  display: inline-block;
  margin: 0 5px;
  margin-left: 10px;
}
/* line 533, ../sass/screen.sass */
.feed-item.feed-item-article .article-summary {
  overflow: hidden;
  *zoom: 1;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
/* line 537, ../sass/screen.sass */
.feed-item.feed-item-article .article-summary .excerpt, .feed-item.feed-item-article .article-summary img {
  display: inline-block;
  vertical-align: top;
}
/* line 540, ../sass/screen.sass */
.feed-item.feed-item-article .article-summary .excerpt {
  padding: 0 10px;
  width: 45%;
  font-size: 1em;
  line-height: 1.5em;
}
/* line 544, ../sass/screen.sass */
.feed-item.feed-item-article .article-summary a:hover {
  color: #222;
}
/* line 546, ../sass/screen.sass */
.feed-item.feed-item-article .article-summary img {
  width: 50%;
}

/* line 551, ../sass/screen.sass */
.right-sidebar {
  margin-top: 6em;
}
/* line 553, ../sass/screen.sass */
.right-sidebar h2 {
  font-size: 1.25em;
  line-height: 1.2em;
}
/* line 555, ../sass/screen.sass */
.right-sidebar .expert-search {
  margin-bottom: 3em;
}
/* line 557, ../sass/screen.sass */
.right-sidebar .expert-search input {
  padding: 0.25em;
  margin: 0.5em 0;
  font-size: 1em;
  line-height: 1.5em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #aaa;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 564, ../sass/screen.sass */
.right-sidebar .expert-search input:hover {
  border-color: #0399f4;
}
/* line 566, ../sass/screen.sass */
.right-sidebar .expert-search .button-secondary {
  display: inline-block;
  margin-top: 1.5em;
}
/* line 570, ../sass/screen.sass */
.right-sidebar .shop-sections a {
  display: block;
  position: relative;
}
/* line 573, ../sass/screen.sass */
.right-sidebar .shop-sections a img {
  width: 100%;
  max-height: 100px;
}
/* line 577, ../sass/screen.sass */
.right-sidebar .shop-sections a:hover .overlay {
  background-color: rgba(3, 153, 244, 0.5);
}
/* line 579, ../sass/screen.sass */
.right-sidebar .shop-sections .overlay {
  left: 0;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  top: 0;
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 1.25em;
  line-height: 1.2em;
  font-weight: bold;
}
/* line 593, ../sass/screen.sass */
.right-sidebar .shop-sections .overlay:before {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  content: "";
}

/* line 601, ../sass/screen.sass */
.favorites-container {
  margin-top: 3em;
}
/* line 603, ../sass/screen.sass */
.favorites-container .fav {
  width: 23%;
  margin: 0.5%;
  display: inline-block;
  margin-bottom: 1em;
  vertical-align: top;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
/* line 612, ../sass/screen.sass */
.favorites-container .fav img {
  width: 100%;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px;
  border-radius: 3px 3px 0 0;
}
/* line 615, ../sass/screen.sass */
.favorites-container .fav .title {
  font-weight: bold;
  padding: 0 0.5em;
  font-size: 1em;
  line-height: 1.5em;
}
/* line 619, ../sass/screen.sass */
.favorites-container .fav .price {
  padding: 0 0.5em;
  font-size: 1em;
  line-height: 1.5em;
}
/* line 622, ../sass/screen.sass */
.favorites-container .fav .excerpt {
  margin-top: 0.75em;
  padding: 0 0.5em;
  font-size: 0.875em;
  line-height: 1.71429em;
}
