/* line 3, ../sass/sty_invoice.sass */
.row {
  overflow: hidden;
  *zoom: 1;
}
/* line 6, ../sass/sty_invoice.sass */
.row .left-col {
  width: 70%;
  float: left;
}
/* line 9, ../sass/sty_invoice.sass */
.row .right-col {
  width: 29%;
  float: right;
}
/* line 12, ../sass/sty_invoice.sass */
.row b {
  font-weight: bold;
  margin-right: 10px;
}
/* line 15, ../sass/sty_invoice.sass */
.row p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
/* line 19, ../sass/sty_invoice.sass */
.row .big-table1 {
  width: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
/* line 23, ../sass/sty_invoice.sass */
.row .big-table1 .border-bot {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
/* line 25, ../sass/sty_invoice.sass */
.row .big-table1 td {
  font-size: 1.25em;
  line-height: 1.2em;
}
/* line 27, ../sass/sty_invoice.sass */
.row .big-table1 .odd {
  width: 50%;
}
/* line 29, ../sass/sty_invoice.sass */
.row .big-table1 .even {
  width: 40%;
  text-align: right;
}
