/* line 3, ../sass/sty_tnc.sass */
.row {
  overflow: hidden;
  *zoom: 1;
}

/* line 5, ../sass/sty_tnc.sass */
.left-sidebar {
  float: left;
  width: 25%;
}

/* line 8, ../sass/sty_tnc.sass */
.content-wrapper {
  float: left;
  width: 72%;
}
/* line 11, ../sass/sty_tnc.sass */
.content-wrapper h1 {
  font-size: 1.875em;
  line-height: 1.6em;
}
/* line 13, ../sass/sty_tnc.sass */
.content-wrapper h2 {
  font-size: 1.5em;
  line-height: 2em;
}
/* line 15, ../sass/sty_tnc.sass */
.content-wrapper h3 {
  font-size: 1.25em;
  line-height: 1.2em;
  font-weight: bold;
}
/* line 18, ../sass/sty_tnc.sass */
.content-wrapper p {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
/* line 22, ../sass/sty_tnc.sass */
.content-wrapper ul, .content-wrapper ol {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  list-style-type: circle;
  display: block;
}
/* line 27, ../sass/sty_tnc.sass */
.content-wrapper ul li, .content-wrapper ol li {
  display: block;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 0.375em;
  margin-top: 0.375em;
}
/* line 32, ../sass/sty_tnc.sass */
.content-wrapper ul li:before, .content-wrapper ol li:before {
  content: " - ";
}
/* line 36, ../sass/sty_tnc.sass */
.content-wrapper ol li:before {
  content: "";
}
/* line 38, ../sass/sty_tnc.sass */
.content-wrapper table {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
/* line 41, ../sass/sty_tnc.sass */
.content-wrapper table td {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}
