= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/head.haml")).render


%body
	.container
		.row.two-col
			.left-col
				INVOICE#ZI/15-16/06/001
			.right-col
				%p
					%b Bill Period: 
					June'2015
				%p
					%b Date 
					31-March-2015
		.row.two-col 
			.left-col
				%p
					Arora Suppliers 
					%br
					Gali Number 1, 16/61 Joshi road, 
					%br
					Karol Bagh, Delhi-110005.
			.right-col 
				%p 
					%b PAN:
					AAGCB1558F
				%p 
					%b Service Tax:
					AAGCB1558FSD001
				%p
					%b CIN: 
					U74999DL2015PPC275415

		.row
			%p Dear Partner,
			%p For the month of June'2015, 4 orders were sent and it generated INR 65 in revenue for you. As agreed with Zimply service fee we kindly ask you for a payment of INR 0 (including Service Tax).
			%table.big-table1
				%tr.border-bot
					%td.odd
						Orders Sent
					%td.even
						4
				%tr
					%td.odd Zimply Fee
					%td.even 57 INR
				%tr.border-bot
					%td.odd	Service tax of 15%
					%td.even 8 INR
				%tr
					%td.odd Total
					%td.even 65 INR
				%tr.border-bot 
					%td.odd Amount already Received/ Adjusted via Online Payment
					%td.even 65 INR
				%tr.border-bot 
					%td.odd Net Payable
					%td.even 0 INR

		.row.two-col
			.left-col
				%p Please transfer the Zimply fee of INR 0 in favour of
			.right-col
				%p	
					BITNOMIX TECHNOLOGIES PVT LTD.
					%br
					BANK NAME - HDFC BANK
					%br
					ACCOUNT NUMBER - 50200008917469
					%br
					IFSC-HDFC0002035
		.row
			%p
				If you have any concerns, questions or feedback, feel free to contact us any time or speak to your representative.
			%p
				%b This is a system generated invoice and does not require signature.
= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/footer.haml")).render
