%html

	= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/head.haml")).render
	%body

		= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/header.haml")).render
		.expert-cover
			.cover-image{style: "background-image: url(../../images/misc/1920x1080/#{rand(20)+1}.jpg"}
			.container
				.user-info
					.avatar
						%img{src: "../../images/avatars/96x96/#{(rand(12)+1)}.png"}
					.details
						%h3= ["Kapur Interiors", "Urban Square", "SA Architects", "Abstract Design & Build Private Limited", "Nest Interiors and Handicrafts"].sample
						.spec
							= ["Turnkey Solutions", "Interior Designers", "Architect", "Building Contractor", "Landscaping Specialist"].sample
				%a.hire-button.button-primary{href: "#"} Hire
		.container
			.row.two-col-inv
				.left-col	
					%ol.sidebar-links
						- %w(About Expertise Projects).each do |item|
							%li{class: "#{item=='Projects' ? 'active' : ''}"}
								%a{href: "expert-#{item.downcase}.html"}= item
				.right-col
					.projects-wrapper
						%h2= "#{rand(100)} projects"
						- ((rand(5)+1)*(rand(10)+1)).times do
							%a.project{href: "project-details.html"}
								%img{src: "../../images/misc/1920x1080/#{rand(20)+1}.jpg"}
								.overlay
									%h3= ["Modern Room", "Eclectic Wardrobe", "Distinguished Lioness", "Brave Barons", "Majority Mafia", "Kitchen And Dining", "Liberation Roulette"].sample