%html

	= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/head.haml")).render
	%body

		= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/header.haml")).render
		.expert-cover
			.cover-image{style: "background-image: url(../../images/misc/1920x1080/#{rand(20)+1}.jpg"}
			.container
				.user-info
					.avatar
						%img{src: "../../images/avatars/96x96/#{(rand(12)+1)}.png"}
					.details
						%h3= ["Kapur Interiors", "Urban Square", "SA Architects", "Abstract Design & Build Private Limited", "Nest Interiors and Handicrafts"].sample
						.spec
							= ["Turnkey Solutions", "Interior Designers", "Architect", "Building Contractor", "Landscaping Specialist"].sample
				%a.hire-button.button-primary{href: "#"} Hire
		.container
			.row.two-col-inv
				.left-col	
					%ol.sidebar-links
						- %w(About Expertise Projects).each do |item|
							%li{}
								%a{href: "expert-#{item.downcase}.html"}= item
				.right-col
					%h2= ["Modern Room", "Eclectic Wardrobe", "Distinguished Lioness", "Brave Barons", "Majority Mafia", "Kitchen And Dining", "Liberation Roulette"].sample  
					- (rand(5)+1).times do
						%p= Faker::Lorem.paragraph 	
					%h2 Photos
					.justified
						- ((rand(5)+1)*(rand(10)+1)).times do 
							- image_file1 = "../../images/misc/1920x1080/#{(rand(24)+1)}.jpg"
							%a.fancy-photo{href: image_file1, rel: "gallery"}
								%img.small{src: image_file1}
							- rand(3).times do
								- image_file2 = "../../images/misc/800x600/#{(rand(24)+1)}.jpg"
								%a.fancy-photo{href: image_file2, rel: "gallery"}
									%img.small{src: image_file2}