
= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/head.haml")).render
%body
	= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + "/../partials/header.haml")).render
	.container
		%br
		%br
		%br
		%br
		%br
		.breadcrumbs
			%a{href: "#"} Home
			\/
			%a{href: "#"} Shop
			\/
			%a{href: "#"} Lamps & Lighting Store
			\/
			%span= ["Hand Painted Black And Red Wooden Lamp", "Hand Painted Gold Fish Table Lamp", "Handcrafted Majestic Dhokra Lamp", "Ethnic Wooden Multicoloured Lamp", "Ball 8\" Full Hollow", "Silver Plated Candle Stand"].sample
		.products-list
			.row.prod-details
				.left-col
					.image-gallery
						%img.big-image{src: "../../images/lamps/#{rand(28)+1}.jpg"}
						.thumbnails
							- 5.times do
								%img{src: "../../images/lamps/#{rand(28)+1}.jpg"}
				.right-col
					%h1= ["Hand Painted Black And Red Wooden Lamp", "Hand Painted Gold Fish Table Lamp", "Handcrafted Majestic Dhokra Lamp", "Ethnic Wooden Multicoloured Lamp", "Ball 8\" Full Hollow", "Silver Plated Candle Stand"].sample
					.prod-social
						%a.icon-facebook{href: "#", title: "share on Facebook"}	
						%a.icon-twitter{href: "#", title: "share on Twitter"}	
						%a.icon-pinterest{href: "#", title: "share on Pinterest"}	
						%a.icon-star{href: "#", title: "add to wishlist"} Add to wishlist
					%p.truncated-details
						Coffee Table - Enhance your home decor with this hardwood espresso coffee table from Furniture Banwao that scores highly on style as well as storage. The dark-chocolate glossy finish and the most pristine textures in combination with lower storage platform make it an ideal addition to any living or study .
						%a{href:"#"} Read More
					.prod-availability
						%label CHECK AVAILABILITY
						%input{type: "text", placeholder: "enter pincode"}
						%a.button-secondary.small{href: "#"} Check
					.prod-quickie
						.price
							%span.WebRupee  &#x20B9;
							%span.amount= rand(10000)*10
							.small Free Shipping
						.del
							Delivered within &nbsp;
							%b 5 - 10
							business days
							.prod-seller
								%b Seller:
								%img.avatar{src: "../../images/avatars/96x96/#{rand(10)}.png"}	
								%a{href: "#"}= Faker::Name.name
					.prod-actions
						%a.button-secondary{href: "#"} Add to Cart
						%a.button-primary{href: "#"} Buy Now
		.prod-tabs.tabs
			.row.tab-links
				%a.tab.active{href: "#", "data-tab": "details"} Details
				%a.tab{href: "#", "data-tab": "specs"} Specifications
				%a.tab{href: "#", "data-tab": "returns"} Return Policy
				%a.tab{href: "#", "data-tab": "care"} Care Instructions
			.row.tab-contents
				#tab-details.tab-content.active
					- rand(5).times do 
						%p= Faker::Lorem.paragraph
				#tab-specs.tab-content
					- rand(5).times do 
						%p= Faker::Lorem.paragraph
				#tab-returns.tab-content
					- rand(5).times do 
						%p= Faker::Lorem.paragraph
				#tab-care.tab-content
					- rand(5).times do 
						%p= Faker::Lorem.paragraph