!!!
%html
  %head
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:400,700,800", :rel => "stylesheet", :type => "text/css"}
  %body{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;"}
    :css
      html, body, div, span, applet, object, iframe,
      h1, h2, h3, h4, h5, h6, p, blockquote, pre,
      a, abbr, acronym, address, big, cite, code,
      del, dfn, em, img, ins, kbd, q, s, samp,
      small, strike, strong, sub, sup, tt, var,
      b, u, i, center,
      dl, dt, dd, ol, ul, li,
      fieldset, form, label, legend,
      table, caption, tbody, tfoot, thead, tr, th, td,
      article, aside, canvas, details, embed,
      figure, figcaption, footer, header, hgroup,
      menu, nav, output, ruby, section, summary,
      time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        font-size: 100%;
        vertical-align: baseline;
        font-family: "Open Sans", sans;
      }
   
      html {
        line-height: 1;
      }
   
      ol, ul {
        list-style: none;
      }
   
      table {
        border-collapse: collapse;
        border-spacing: 0;
      }
   
      caption, th, td {
        text-align: left;
        font-weight: normal;
        vertical-align: middle;
      }
   
      q, blockquote {
        quotes: none;
      }
      q:before, q:after, blockquote:before, blockquote:after {
        content: "";
        content: none;
      }
   
      a img {
        border: none;
      }
   
      article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
        display: block;
      }
   
      html {
        font-size: 100%;
        line-height: 1.5em;
      }
   
      .container {
        width: 60%;
        min-width: 300px;
        margin: 0 auto;
        font-family: "Open Sans", sans;
        font-size: 1em;
        line-height: 1.5em;
        background-color: #722f37;
        text-align: center;
        padding: 2%;
      }

      .image-box {
        display: inline-block;
        text-align: left;
        width: 100%;
      }

      .image-box img {
        width: 100%;
      }

      .text-box {
        text-align: left;
        padding: 0.5em 0;
        font-size: 1.2em;
        line-height: 1.5em;
        color: #fff;
      }
      .text-box p {
        margin: 0.5em 0;
      }

      img.logo {
        display: inline-block;
        max-height: 2em;
        vertical-align: middle;
      }

  %body 
    .container
      .image-box
        %img{src: "../../images/mailer/diwali.jpg"}     
      .text-box
        %p Hope this festive season brings you lots of Happiness and Success.
        %p Before you get busy with the celebrations, we at Zimply would like to wish you and your family a very HAPPY DIWALI. 
        %p 
          Regards
          %br
          Team 
          %img.logo{src: "http://zimply.in/static/images/logo3.png"}