!!!
%html
  %head
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:400,700,800", :rel => "stylesheet", :type => "text/css"}
  %body{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;"}

    .container{:style => "margin: 0 auto;padding: 0;border: 0;font: inherit;font-size: 1em;vertical-align: baseline;width: 80%;min-width: 300px;font-family: sans;line-height: 1.5em;"}
      %br/
      %br/
      %img{:src => "../../images/mailer/logo.jpg", :style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;"}/
      %h1{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;margin-top: 1.5em;"}
        %img{:src => "../../images/mailer/return.png", :style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: middle;"}/
        .heading{:style => "margin: 0;padding: 1em;border: 0;font: inherit;font-size: 24px;vertical-align: middle;display: inline-block;color: #0399f4;"}
          Return Request Processed
          .byline{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 0.6em;vertical-align: baseline;color: #222;margin-top: 0.25em;"} 
      %br/
      %br/
      %p{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 1em;vertical-align: baseline;line-height: 1.5em;margin-bottom: 1.5em;"}
        Hi Avrind Kejriwul
      %p{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 1em;vertical-align: baseline;line-height: 1.5em;margin-bottom: 1.5em;"}Your request to return the following items from your order with order ID has been processed by the seller. The refund amount will be credited to your bank account within 7-8 working days. 

      %br/
      %table.table{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;border-collapse: collapse;border-spacing: 0;"}
        %tr{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;"}
          %td.title{:style => "margin: 0;padding: 0.5em;border: 0;font: inherit;font-size: 100%;vertical-align: top;text-align: left;font-weight: bold;line-height: 1em;"} Your order ID
          %td.order_id{:style => "margin: 0;padding: 0.5em;border: 0;font: inherit;font-size: 100%;vertical-align: top;text-align: left;font-weight: normal;line-height: 1em;background: #F7CA53;"} OD898384
        %tr{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;"}
          %td.title{:style => "margin: 0;padding: 0.5em;border: 0;font: inherit;font-size: 100%;vertical-align: top;text-align: left;font-weight: bold;line-height: 1em;"} Shipment ID
          %td{:style => "margin: 0;padding: 0.5em;border: 0;font: inherit;font-size: 100%;vertical-align: top;text-align: left;font-weight: normal;line-height: 1em;"} KJK898JJJ-1009
        %tr{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;"}
          %td.title{:style => "margin: 0;padding: 0.5em;border: 0;font: inherit;font-size: 100%;vertical-align: top;text-align: left;font-weight: bold;line-height: 1em;"} Shipping Address
          %td{:style => "margin: 0;padding: 0.5em;border: 0;font: inherit;font-size: 100%;vertical-align: top;text-align: left;font-weight: normal;line-height: 1em;"}
            221B,
            Baker Street
            London
            UK 
        %tr{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;"}
          %td.title{:style => "margin: 0;padding: 0.5em;border: 0;font: inherit;font-size: 100%;vertical-align: top;text-align: left;font-weight: bold;line-height: 1em;"} Total Amount
          %td{:style => "margin: 0;padding: 0.5em;border: 0;font: inherit;font-size: 100%;vertical-align: top;text-align: left;font-weight: normal;line-height: 1em;"} Rs. 83,999        
        %tr{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;"}
          %td.title{:style => "margin: 0;padding: 0.5em;border: 0;font: inherit;font-size: 100%;vertical-align: top;text-align: left;font-weight: bold;line-height: 1em;"} Amount to be refunded
          %td{:style => "margin: 0;padding: 0.5em;border: 0;font: inherit;font-size: 100%;vertical-align: top;text-align: left;font-weight: normal;line-height: 1em;"} Rs. 8,999
      %br
      %br
      %p{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 1em;vertical-align: baseline;line-height: 1.5em;margin-bottom: 1.5em;"} For any query or assistance regarding the order, please feel free to contact us at order@zimply.com or call us at: 
      %p{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 1em;vertical-align: baseline;line-height: 1.5em;margin-bottom: 1.5em;"} Thank you for shopping with us! 
      %p{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 1em;vertical-align: baseline;line-height: 1.5em;margin-bottom: 1.5em;"}
        Regards,
        = succeed "Team" do
          %br/
      %br/
      %br/
      .apper.ac{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;text-align: center;padding-top: 1.5em;border-top: 1px solid #eee;"}
        %h2{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 1.25em;vertical-align: baseline;font-weight: normal;line-height: 1.2em;padding-top: 1.5em;padding-bottom: 1.5em;"} Get access to a host of additional features and convenience through our app. Download the app now.
        %img{:src => "http://www.toyblastapp.com/wp-content/uploads/2015/06/google-play-button.png", :style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;"}/
        .footnote{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 0.8125em;vertical-align: baseline;margin-top: 1.5em;margin-bottom: 1.5em;line-height: 1.84615em;"}
          %a{href: "#"} 
            %img{src: "../../images/mailer/fb.jpg"}
          &nbsp; 
          &nbsp; 
          &nbsp; 
          %a{href: "#"} 
            %img{src: "../../images/mailer/tw.jpg"}
          &nbsp; 
          &nbsp; 
          &nbsp; 
          %a{href: "#"} 
            %img{src: "../../images/mailer/pin.jpg"}                        