!!!
%html
  %head
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:400,700,800", :rel => "stylesheet", :type => "text/css"}
  %body{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;"}

    .container{:style => "margin: 0 auto;padding: 0;border: 0;font: inherit;font-size: 1em;vertical-align: baseline;width: 80%;min-width: 300px;font-family: sans;line-height: 1.5em;"}
      %br/
      %br/
      %img{:src => "../../images/mailer/logo.jpg", :style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;"}/
      %h1{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;margin-top: 1.5em;"}
        %img{:src => "../../images/mailer/neworder.png", :style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: middle; height: 5em"}/
        .heading{:style => "margin: 0;padding: 1em;border: 0;font: inherit;font-size: 24px;vertical-align: middle;display: inline-block;color: #0399f4;"}
          New Order Request
          .byline{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 0.6em;vertical-align: baseline;color: #222;margin-top: 0.25em;"} 
      %br/
      %br/
      %p{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 1em;vertical-align: baseline;line-height: 1.5em;margin-bottom: 1.5em;"}
        Hi Avrind Kejriwul
      %p{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 1em;vertical-align: baseline;line-height: 1.5em;margin-bottom: 1.5em;"}Thank you for being a conscientious selling partner for Zimply.in!

      %p{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 1em;vertical-align: baseline;line-height: 1.5em;margin-bottom: 1.5em;"}This mail is to notify you that an order has been received for your merchandise at zimply.in. The summary of this order is outlined below. Please refer to the seller dashboard at https://sellers.zimply.com/orders for exact details.

      %br/
      %table.table{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;border-collapse: collapse;border-spacing: 0;"}
        %tr{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;"}
          %td.title{:style => "margin: 0;padding: 0.5em;border: 0;font: inherit;font-size: 100%;vertical-align: top;text-align: left;font-weight: bold;line-height: 1em;"} Order ID
          %td.order_id{:style => "margin: 0;padding: 0.5em;border: 0;font: inherit;font-size: 100%;vertical-align: top;text-align: left;font-weight: normal;line-height: 1em;background: #F7CA53;"} ZIM-BB-192-000
        %tr{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;"}
          %td.title{:style => "margin: 0;padding: 0.5em;border: 0;font: inherit;font-size: 100%;vertical-align: top;text-align: left;font-weight: bold;line-height: 1em;"} Order Placed On
          %td.order_id{:style => "margin: 0;padding: 0.5em;border: 0;font: inherit;font-size: 100%;vertical-align: top;text-align: left;font-weight: normal;line-height: 1em;background: #F7CA53;"} 24th Nov, 2091
        %tr{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;"}
          %td.title{:style => "margin: 0;padding: 0.5em;border: 0;font: inherit;font-size: 100%;vertical-align: top;text-align: left;font-weight: bold;line-height: 1em;"} Product Name
          %td{:style => "margin: 0;padding: 0.5em;border: 0;font: inherit;font-size: 100%;vertical-align: top;text-align: left;font-weight: normal;line-height: 1em;"} Multipurpose Multicolored Lamp
        %tr{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;"}
          %td.title{:style => "margin: 0;padding: 0.5em;border: 0;font: inherit;font-size: 100%;vertical-align: top;text-align: left;font-weight: bold;line-height: 1em;"} Product Code
          %td{:style => "margin: 0;padding: 0.5em;border: 0;font: inherit;font-size: 100%;vertical-align: top;text-align: left;font-weight: normal;line-height: 1em;"} ZIM-BB-827
        %tr{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;"}
          %td.title{:style => "margin: 0;padding: 0.5em;border: 0;font: inherit;font-size: 100%;vertical-align: top;text-align: left;font-weight: bold;line-height: 1em;"} Units Ordered
          %td{:style => "margin: 0;padding: 0.5em;border: 0;font: inherit;font-size: 100%;vertical-align: top;text-align: left;font-weight: normal;line-height: 1em;"} 2
        %tr{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;"}
          %td.title{:style => "margin: 0;padding: 0.5em;border: 0;font: inherit;font-size: 100%;vertical-align: top;text-align: left;font-weight: bold;line-height: 1em;"} Shipping Address
          %td{:style => "margin: 0;padding: 0.5em;border: 0;font: inherit;font-size: 100%;vertical-align: top;text-align: left;font-weight: normal;line-height: 1em;"} Address here
      %br
      %br
      %p{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 1em;vertical-align: baseline;line-height: 1.5em;margin-bottom: 1.5em;"} For any query or assistance regarding the order, please feel free to contact us at order@zimply.com or call us at: 
      %p{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 1em;vertical-align: baseline;line-height: 1.5em;margin-bottom: 1.5em;"}We are committed in creating the best e-Commerce marketplace for our patrons and look forward to your steady cooperation in this regard.
      %p{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 1em;vertical-align: baseline;line-height: 1.5em;margin-bottom: 1.5em;"} Thank you!!!
      %p{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 1em;vertical-align: baseline;line-height: 1.5em;margin-bottom: 1.5em;"}
        Regards,
        = succeed "Team" do
          %br/
      %br/
      %br/
      .apper.ac{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;text-align: center;padding-top: 1.5em;border-top: 1px solid #eee;"}
        %h2{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 1.25em;vertical-align: baseline;font-weight: normal;line-height: 1.2em;padding-top: 1.5em;padding-bottom: 1.5em;"} Get access to a host of additional features and convenience through our app. Download the app now.
        %img{:src => "http://www.toyblastapp.com/wp-content/uploads/2015/06/google-play-button.png", :style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: baseline;"}/
        .footnote{:style => "margin: 0;padding: 0;border: 0;font: inherit;font-size: 0.8125em;vertical-align: baseline;margin-top: 1.5em;margin-bottom: 1.5em;line-height: 1.84615em;"}
          %a{href: "#"} 
            %img{src: "../../images/mailer/fb.jpg"}
          &nbsp; 
          &nbsp; 
          &nbsp; 
          %a{href: "#"} 
            %img{src: "../../images/mailer/tw.jpg"}
          &nbsp; 
          &nbsp; 
          &nbsp; 
          %a{href: "#"} 
            %img{src: "../../images/mailer/pin.jpg"}                        